<!--Divider section-->

<section class="bg-color py-2">
    <section class="container">
        <div class="row">

            <div
                class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
                <h1 class=" text-capitalize fw-bolder text-white">
                    Manage Verifications
                </h1>
            </div>

        </div>
    </section>
</section>

<!--Divider section end -->

<!-- Edit Section Starts  -->

<section class="common-section business-section" id="online_services">

    <div class="container" style="min-height: 26rem;">

        <div class="row g-5">
            <div class="col-xl-12 col-md-12 ">
                <!-- Ratings panel starts -->
                <div class="row g-5">

                    <div class="col-xl-12 col-md-12">

                        <div class="form-section p-3 m-3">

                            <!-- User Form Starts -->
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h3>Verification Requests</h3>
                                        </div>
                                    </div>
                                </div>
                                <hr class="style1" style="margin-top: 0.5rem;margin-bottom: 2rem;">
                                <div class="table-responsive">
                                    <table class="table table table-bordered th-sm">
                                        <thead
                                            style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                                            <tr>
                                                <th scope="col" class="text-center">Name</th>
                                                <th scope="col" class="text-center">Email</th>
                                                <th scope="col" class="text-center">Certification</th>
                                                <th scope="col" class="text-center">Attachments</th>
                                                <th scope="col" class="text-center">Verification Status</th>
                                                <th scope="col" class="text-center">Listing Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let verificationRequest of verificationRequests">
                                                <td class="text-center">
                                                    {{verificationRequest.professional.firstName}} {{verificationRequest.professional.lastName}}</td>
                                                <td class="text-center">{{verificationRequest.professional.email}}</td>
                                                <td class="text-center">{{verificationRequest.name}}</td>
                                                <td (click)="downloadAttachments(verificationRequest.attachments)" class="text-center"><a class="link" type="button"><i
                                                            class="fa fa-download" aria-hidden="true"></i>
                                                    </a></td>
                                                <td class="text-center">{{verificationRequest.status}}</td>
                                                <td class="text-center">{{verificationRequest.status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <hr class="style1">
                            </div>
                            <!-- User Form Ends -->
                        </div>
                    </div>

                </div>
                <!-- Ratings panel ends -->
            </div>
        </div>

    </div>

</section>

<!-- Edit Section Ends  -->