<!--Divider section-->

<section class="bg-color py-2">
    <section class="container">
      <div class="row">
  
        <div
          class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
          <h1 class=" text-capitalize fw-bolder text-white">
            Orders Taken
          </h1>
        </div>
        <nav class="nav navbar ms-auto nav-underline navbar-dark bg-color">
          <i class="nav-link-custom nav-link fa fa-arrow-left" routerLink="/dashboard/takenOrders" type="button"></i>
        </nav>
  
      </div>
    </section>
  </section>
  
  <!--Divider section end -->
  
  <div class="content-box">
  
    <!-- main section starts  -->
  
    <section class="common-section business-section" id="online_services">
  
      <div class="container">
        <!-- <h1>Profile</h1> -->
        <div class="row">
          <!-- to be iterated over orders start  -->
          <div class="col-12">
  
            <div class="form-section p-3 m-3">
  
              <form>
  
                <div class="mb-3">
  
                  <!-- display profile and name  -->
                  <div class="row">
  
                    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Appointment Date</label>
                        <h5> 26 September 2023</h5>
                      </div>
                    </div>
  
                    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Appointment Time</label>
                        <h5>12:00PM-12:30PM</h5>
                      </div>
                    </div>
  
                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Total</label>
                        <h5><i class="fa-solid fa-dollar-sign"></i> 15.00 CAD</h5>
                      </div>
                    </div>
  
                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Enter OTP</label>
                        <h5><a class="link" type="button"><b> ------ </b></a></h5>
                      </div>
                    </div>
  
                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Order Status</label>
                        <h5>COMPLETED</h5>
                      </div>
                    </div>
  
                  </div>
                  <hr class="style1">
                  <!-- User Form Starts -->
                  <div class="row">
  
                    <div class="col-xl-8 col-md-8 col-sm-8 py-3">
                      <div class="form-group">
                        <label>Customer Phone</label>
                        <div class="col-12">
                          <h5> 9999999999</h5>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Customer Address</label>
                        <div class="col-12">
                          <h5> Sabzi Market</h5>
                        </div>
                        <div class="col-12">
                          <h5> Sabzi Marketkjhdasbdkjasbdasbdasblkdab</h5>
                        </div>
                        <div class="col-12">
                          <h5> Sabzi Marketkjldsalsajdbaksndkansdnas;ldnas;ldnalksdna;sldna;lsn</h5>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-xl-4 col-md-4 col-sm-4 py-3">
                      <div class="form-group">
                        <div class="form-group">
                          <label>Professional</label>
                          <h5><a class="link" type="button"> Vaibhav Agochiya </a></h5>
                        </div>
                        <div class="form-group">
                          <label>Professional Specialization</label>
                          <h5> Gadgets</h5>
                        </div>
                      </div>
                    </div>
  
                    <hr class="style1">
                    <div class="col-12">
                      <button class="btn btn-success btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#slotSelectorModal">Start Order</button>
                    </div>
                    <div class="col-12 py-2">
                      <button class="btn btn-danger btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#slotSelectorModal">Cancel Order</button>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-warning btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#slotSelectorModal">Write a review</button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- User Form Ends -->
            </div>
          </div>
          <!-- to be iterated over orders end  -->
        </div>
      </div>
  
    </section>
  
    <!-- main section ends  -->
  
  
  
    <!-- Modal section begins -->
  
  
    <!-- Modals section ends -->