<!--Divider section-->

<section class="bg-color py-2">
  <section class="container">
    <div class="row">

      <div
        class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white">
          Order Details
        </h1>
      </div>
      <nav class="nav navbar ms-auto nav-underline navbar-dark bg-color">
        <i class="nav-link-custom nav-link fa fa-arrow-left" (click)="navigateBack()" type="button"></i>
      </nav>

    </div>
  </section>
</section>

<!--Divider section end -->

<div class="content-box">

  <!-- main section starts  -->

  <section class="common-section business-section" id="online_services">

    <div class="container">
      <!-- <h1>Profile</h1> -->
      <div class="row">
        <!-- to be iterated over orders start  -->
        <div class="col-12">

          <div *ngIf="order" class="form-section p-3 m-3">

            <form>
              <div class="mb-3">
                <button class="btn btn-small btn-rounded disabled mb-2" [ngClass]="[order.status=='CANCELLED'?'btn-danger':'',
                order.status=='COMPLETED'?'btn-success':'btn-primary']">{{order.status}}</button>
                <!-- display profile and name  -->
                <div class="row px-1 mt-1">

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Appointment Date</label>
                      <h5>{{order.appointmentDate|date:'dd-MMM-yyyy':'+0000'}}</h5>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Appointment Time</label>
                      <h5>{{dateTimeService.convertTimeToString(order.appointmentTimeHhmm)}}</h5>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Preferred Time</label>
                      <h5>{{dateTimeService.convertTimeToString(order.preferredStartTimeHhmm)}}-{{dateTimeService.convertTimeToString(order.preferredEndTimeHhmm)}}</h5>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Total Amount</label>
                      <h5><i class="fa-solid fa-dollar-sign" style="color: green;"></i> {{order.charges | number :
                        '1.2-2'}} </h5>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Payment Status</label>
                      <h5>{{order.paymentStatus}}</h5>
                    </div>
                  </div>

                </div>
                <hr class="style1">
                <!-- User Form Starts -->
                <div class="row">

                  <div class="col-xl-8 col-md-8 col-sm-8">
                    <div class="form-group">
                      <label class="py-1" style="font-weight: bold;">Customer Name</label>
                      <div class="col-12">
                        <h5 *ngIf="order.customer">{{order.customer.firstName}} {{order.customer.lastName}}</h5>
                        <h5 *ngIf="!order.customer" style="color: rgb(100, 100, 100);">**************</h5>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="py-1" style="font-weight: bold;">Customer Phone</label>
                      <div class="col-12">
                        <h5 *ngIf="order.customer">{{order.customer.mobile | phone}}</h5>
                        <h5 *ngIf="!order.customer" style="color: rgb(100, 100, 100);">**************</h5>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="py-1" style="font-weight: bold;">Customer Address</label>
                      <div class="col-12">
                        <h5 *ngIf="order.customer">{{order.customer.contact.addressLine3}}</h5>
                        <h5 *ngIf="!order.customer" style="color: rgb(100, 100, 100);">**************</h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-4 col-sm-4 py-3">
                    <div class="form-group">
                      <div class="form-group">
                        <label class="py-1" style="font-weight: bold;">Professional</label>
                        <h5><a class="link" type="button"
                            [routerLink]='["/listingDetail", order.listingId]'>{{order.professional.firstName}}
                            {{order.professional.lastName}}</a></h5>
                      </div>
                      <div class="form-group">
                        <label class="py-1" style="font-weight: bold;">Professional Specialization</label>
                        <h5>{{order.subCategoryName}}</h5>
                      </div>
                      <div class="form-group">
                        <label class="py-1" style="font-weight: bold;">Service Items</label>
                        <h5 *ngFor="let item of order.menuItems">&bull; {{item.serviceName}} x({{item.quantity}})</h5>
                      </div>
                    </div>
                  </div>
                  <h6 *ngIf="order.listingDistance" style="font-weight: bold;color: rgb(183, 25, 25);">Customer is at a distance of {{order.listingDistance|number:'1.2-2'}}kms from the listing address</h6>

                  <hr class="style1">
                  <div *ngIf="order.status!='CANCELLED'&&order.status!='COMPLETED'">
                    <div *ngIf="order.status=='STARTING'" class="col-12 py-1">
                      <button class="btn btn-success btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#enterOtpModal">Start Order</button>
                    </div>
                    <div *ngIf="order.status=='COMPLETING'" class="col-12 py-1">
                      <button class="btn btn-success btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#slotSelectorModal" data-bs-toggle="modal"
                        data-bs-target="#enterOtpModal">Complete Order</button>
                    </div>
                    <div *ngIf="order.status=='Awaiting Professional\'s Confirmation'" class="col-12 py-2">
                      <button *ngIf="!lowBalance" class="btn btn-warning btn-rounded col-12" type="button"
                        data-bs-toggle="modal" data-bs-target="#confirmOrderModal"
                        (click)="prepareDataForConfirm(order)">Confirm Appointment
                      </button>
                      <button *ngIf="lowBalance" class="btn btn-warning btn-rounded col-12" type="button"
                        (click)="prepareDataForConfirm(order)">Confirm Appointment
                      </button>
                    </div>
                    <div
                      *ngIf="order.status=='Awaiting Professional\'s Confirmation'||order.status=='Awaiting Customer\'s Confirmation'||order.status=='CONFIRMED'||order.status=='STARTING'"
                      class="col-12 py-1">
                      <button class="btn btn-danger btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#cancellationReasonModal">Cancel Order</button>
                    </div>
                    <div *ngIf="order.status=='STARTED'&&order.paymentStatus!='COMPLETE'" class="col-12 py-2">
                      <button class="btn btn-warning btn-rounded col-12" type="button" (click)="confirmDirectPayment()"
                        [disabled]="!order.directInitiated">Accept Direct Payment
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-- User Form Ends -->
          </div>
        </div>
        <!-- to be iterated over orders end  -->
      </div>
    </div>

  </section>

  <!-- main section ends  -->

  <!-- Cancellation Reason Modal -->
  <div *ngIf="order" class="modal fade" id="cancellationReasonModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="cancellationReasonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <app-cancellation-reason [cancellationReason]="cancellationReason"
        (cancellationReasonEvent)="cancelOrder($event)"></app-cancellation-reason>
    </div>
  </div>
  <!-- Cancellation Reason Modal ends-->

  <!-- Modal section begins -->

  <div class="modal fade" id="enterOtpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="enterOtpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <app-enter-otp-modal (OtpValueEvent)="handleOtp($event)"></app-enter-otp-modal>
      </div>
    </div>
  </div>

    <!-- Accept Order Modal -->
    <div class="modal fade" id="confirmOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="confirmOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <app-confirm-order [appointmentDate]="selectedAppointmentDate"
        [preferredStartTimeHhmm]="selectedPreferredStartTimeHhmm" [preferredEndTimeHhmm]="selectedPreferredEndTimeHhmm"
        [selectedMenuItems]="selectedMenuItemsForOrder" [selectedOrderId]="selectedOrderId"></app-confirm-order>
    </div>
  </div>
  <!-- Accept Order Modal ends-->
  <!-- Modals section ends -->