<!--Divider section-->

<section class="bg-color py-2">
  <section class="container">
    <div class="row">

      <div
        class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white">
          Order Details
        </h1>
      </div>
      <nav class="nav navbar ms-auto nav-underline navbar-dark bg-color">
        <i class="nav-link-custom nav-link fa fa-arrow-left" routerLink="/dashboard/myorders" type="button"></i>
      </nav>

    </div>
  </section>
</section>

<!--Divider section end -->

<div class="content-box">

  <!-- main section starts  -->

  <section class="common-section business-section" id="online_services">

    <div class="container">
      <!-- <h1>Profile</h1> -->
      <div class="row">
        <!-- to be iterated over orders start  -->
        <div class="col-12">

          <div *ngIf="order" class="form-section p-3 m-3">

            <form>

              <div class="mb-3">

                <!-- display profile and name  -->
                <div class="row">

                  <div class="col-xl-3 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Appointment Date</label>
                      <h5>{{order.appointmentDate|date:'dd-MMM-yyyy'}}</h5>
                    </div>
                  </div>

                  <div class="col-xl-3 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Appointment Time</label>
                      <h5>{{convertTimeToString(order.startTimeHhmm)}}-{{convertTimeToString(order.endTimeHhmm)}}</h5>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Total</label>
                      <h5><i class="fa-solid fa-dollar-sign" style="color: green;"></i> {{order.charges | number :
                        '1.2-2'}} </h5>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Payment Status</label>
                      <h5>{{order.paymentStatus}}</h5>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                    <div class="form-group">
                      <label>Order Status</label>
                      <h5><b>{{order.status}}</b></h5>
                    </div>
                  </div>

                </div>
                <hr class="style1">
                <!-- User Form Starts -->
                <div class="row">

                  <div class="col-xl-8 col-md-8 col-sm-8">
                    <div class="form-group">
                      <label>Customer Phone</label>
                      <div class="col-12">
                        <h5>{{order.customer.mobile | phone}}</h5>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Customer Address</label>
                      <div class="col-12">
                        <h5>{{order.customer.contact.addressLine1}}</h5>
                      </div>
                      <div class="col-12">
                        <h5>{{order.customer.contact.addressLine2}}</h5>
                      </div>
                      <div class="col-12">
                        <h5>{{order.customer.contact.addressLine3}}</h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-4 col-sm-4 py-3">
                    <div class="form-group">
                      <div class="form-group">
                        <label>Professional</label>
                        <h5><a class="link" type="button"
                            [routerLink]='["/listingDetail", order.listingId]'>{{order.professional.firstName}}
                            {{order.professional.lastName}}</a></h5>
                      </div>
                      <div class="form-group">
                        <label>Professional Specialization</label>
                        <h5>{{order.subCategoryName}}</h5>
                      </div>
                    </div>
                  </div>

                  <hr class="style1">
                  <div *ngIf="order.status!='CANCELLED'&&order.status!='COMPLETED'">
                    <div *ngIf="order.status=='STARTING'" class="col-12 py-1">
                      <button class="btn btn-success btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#enterOtpModal">Start Order</button>
                    </div>
                    <div *ngIf="order.status=='COMPLETING'" class="col-12 py-1">
                      <button class="btn btn-success btn-rounded col-12" type="button" data-bs-toggle="modal"
                        data-bs-target="#slotSelectorModal" data-bs-toggle="modal"
                        data-bs-target="#enterOtpModal">Complete Order</button>
                    </div>
                    <div *ngIf="order.status=='UPCOMING'||order.status=='STARTING'" class="col-12 py-1">
                      <button class="btn btn-danger btn-rounded col-12" type="button" data-bs-toggle="modal"
                        (click)="processOrder('CANCEL')">Cancel Order</button>
                    </div>
                    <div *ngIf="order.status=='STARTED'&&order.paymentStatus!='COMPLETE'" class="col-12 py-2">
                      <button class="btn btn-warning btn-rounded col-12" type="button" data-bs-toggle="modal"
                      data-bs-target="#enterOtpModal">Confirm payment received
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-- User Form Ends -->
          </div>
        </div>
        <!-- to be iterated over orders end  -->
      </div>
    </div>

  </section>

  <!-- main section ends  -->



  <!-- Modal section begins -->

  <div class="modal fade" id="enterOtpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="enterOtpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enterOtpModalLabel">Enter OTP</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- step1 modal body start  -->
        <div *ngIf="order" class="modal-body">
          <div class="form-section">
            <div class="row g-5">

              <div class="d-flex justify-content-center align-items-center">
                <!-- Selector card start -->
                <div class="row g-4">
                  <div class="form-group col-2">
                    <input required [(ngModel)]="otpValue[0]"
                      style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;" maxlength="1" name="otpValue"
                      id="otp_1" type="text" pattern="\d*" class="form-control" autocomplete="off"
                      (keyup)="moveToNext(2)">
                  </div>
                  <div class="form-group col-2">
                    <input required [(ngModel)]="otpValue[1]"
                      style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;" maxlength="1" name="otpValue"
                      id="otp_2" type="text" pattern="\d*" class="form-control" autocomplete="off"
                      (keyup)="moveToNext(3)">
                  </div>
                  <div class="form-group col-2">
                    <input required [(ngModel)]="otpValue[2]"
                      style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;" maxlength="1" name="otpValue"
                      id="otp_3" type="text" pattern="\d*" class="form-control" autocomplete="off"
                      (keyup)="moveToNext(4)">
                  </div>
                  <div class="form-group col-2">
                    <input required [(ngModel)]="otpValue[3]"
                      style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;" maxlength="1" name="otpValue"
                      id="otp_4" type="text" pattern="\d*" class="form-control" autocomplete="off"
                      (keyup)="moveToNext(5)">
                  </div>
                  <div class="form-group col-2">
                    <input required [(ngModel)]="otpValue[4]"
                      style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;" maxlength="1" name="otpValue"
                      id="otp_5" type="text" pattern="\d*" class="form-control" autocomplete="off"
                      (keyup)="moveToNext(6)">
                  </div>
                  <div class="form-group col-2">
                    <input required [(ngModel)]="otpValue[5]"
                      style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;" maxlength="1" name="otpValue"
                      id="otp_6" type="text" pattern="\d*" class="form-control" autocomplete="off">
                  </div>
                </div>
              </div>
              <button *ngIf="order.status=='STARTING'" type="button" class="btn btn-danger btn-rounded"
                data-bs-dismiss="modal" aria-label="Close" (click)="processOrder('START')">Start</button>
              <button *ngIf="order.status=='COMPLETING'" type="button" class="btn btn-danger btn-rounded"
                data-bs-dismiss="modal" aria-label="Close" (click)="processOrder('COMPLETE')">Complete</button>
              <button *ngIf="order.status=='STARTED'" type="button" class="btn btn-warning btn-rounded"
                data-bs-dismiss="modal" aria-label="Close" (click)="confirmDirectPayment()">Confirm payment received</button>
            </div>
          </div>
        </div>
        <!-- step1 modal body ends  -->

      </div>
    </div>
  </div>

  <!-- Modals section ends -->