<div class="text-start terms" id="start">
    <h2>ACCEPTABLE USE POLICY</h2>

    <h6>Last updated October 25, 2023</h6><br>
    <p>
        This Acceptable Use Policy ("Policy") is part of our ("Legal Terms") and
        should therefore be read alongside our main Legal Terms:<a href="/termsOfUse" style="font-size: small!important;font-weight: bold;">Terms Of Use</a>. If you do not
        <br><br>
        agree with these Legal Terms, please refrain from using our Services. Your continued
        use of our Services implies acceptance of these Legal Terms.
        <br><br>
        Please carefully review this Policy which applies to any and all:
        <br><br>
        (a) uses of our Services (as defined in "Legal Terms”)
        (b) forms, materials, consent tools, comments, post, and all other content
        available on the Services ("Content")
    </p>
    <h5>WHO WE ARE</h5>
    <p>
        We are <b>Workan Inc.</b>(<b>"Company”</b>, <b>"we"</b>, <b>"us"</b>, or <b>"our"</b>) a company registered in October, 2023
        at 1682, 1771 Robson Street, Vancouver BC V6G 3B7, Vancouver, British Columbia V6G 3B7. We operate, as well as any other related
        products and services that refer or link to this Policy (collectively, the "Services").
    </p>
    <h5>USE OF THE SERVICES</h5>
    <p>
        When you use the Services you warrant that you will comply with this Policy and with
        all applicable laws.
        <br><br>
        You also acknowledge that you may not:
        <br><br>
        <span class="tab"><b>•</b> Systematically retrieve data or other content from the Services to create or
        compile, directly or indirectly, a collection, compilation, database, or directory
        without written permission from us.</span>
        <br>
        <span class="tab"><b>•</b> Make any unauthorized use of the Services, including collecting usernames
        and/or email addresses of users by electronic or other means for the purpose
        of sending unsolicited email, or creating user accounts by automated means or
        under false pretenses.</span>
        <br>
        <span class="tab"><b>•</b> Circumvent, disable, or otherwise interfere with security-related features of the
        Services, including features that prevent or restrict the use or copying of any
        Content or enforce limitations on the use of the Services and/or the Content
        contained therein.</span>
        <br>
        <span class="tab"><b>•</b> Engage in unauthorized framing of or linking to the Services.</span>
        <br>
        <span class="tab"><b>•</b> Trick, defraud, or mislead us and other users, especially in any attempt to learn
        sensitive account information such as user passwords.</span>
        <br>
        <span class="tab"><b>•</b> Make improper use of our Services, including our support services or submit
        false reports of abuse or misconduct.</span>
        <br>
        <span class="tab"><b>•</b> Engage in any automated use of the Services, such as using scripts to send
        comments or messages, or using any data mining, robots, or similar data
        gathering and extraction tools.</span>
        <br>
        <span class="tab"><b>•</b> Interfere with, disrupt, or create an undue burden on the Services or the
        networks or the Services connected.</span>
        <br>
        <span class="tab"><b>•</b> Attempt to impersonate another user or person or use the username of
        another user.</span>
        <br>
        <span class="tab"><b>•</b> Use any information obtained from the Services in order to harass, abuse, or
        harm another person.</span>
        <br>
        <span class="tab"><b>•</b> Use the Services as part of any effort to compete with us or otherwise use the
        Services and/or the Content for any revenue-generating endeavor or
        commercial enterprise.</span>
        <br>
        <span class="tab"><b>•</b> Decipher, decompile, disassemble, or reverse engineer any of the software
        comprising or in any way making up a part of the Services, except as
        expressly permitted by applicable law.</span>
        <br>
        <span class="tab"><b>•</b> Attempt to bypass any measures of the Services designed to prevent or
        restrict access to the Services, or any portion of the Services.</span>
        <br>
        <span class="tab"><b>•</b> Harass, annoy, intimidate, or threaten any of our employees or agents
        engaged in providing any portion of the Services to you.</span>
        <br>
        <span class="tab"><b>•</b> Delete the copyright or other proprietary rights notice from any Content.</span>
        <br>
        <span class="tab"><b>•</b> Copy or adapt the Services' software, including but not limited to Flash, PHP,
        HTML, JavaScript, or other code.</span>
        <br>
        <span class="tab"><b>•</b> Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses,
        or other material, including excessive use of capital letters and spamming
        (continuous posting of repetitive text), that interferes with any party's
        uninterrupted use and enjoyment of the Services or modifies, impairs, disrupts,
        alters, or interferes with the use, features, functions, operation, or maintenance
        of the Services.</span>
        <br>
        <span class="tab"><b>•</b> Upload or transmit (or attempt to upload or to transmit) any material that acts
        as a passive or active information collection or transmission mechanism,
        including without limitation, clear graphics interchange formats ("gifs"), 1x1
        pixels, web bugs, cookies, or other similar devices (sometimes referred to as
        "spyware" or "passive collection mechanisms" or "pcms").</span>
        <br>
        <span class="tab"><b>•</b> Except as may be the result of standard search engine or Internet browser
        usage, use, launch, develop, or distribute any automated system, including
        without limitation, any spider, robot, cheat utility, scraper, or offline reader that
        accesses the Services, or using or launching any unauthorized script or other
        software.</span>
        <br>
        <span class="tab"><b>•</b> Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Services.
        Use the Services in a manner inconsistent with any applicable laws or
        regulations.</span>
    </p>
    <h5>CONSEQUENCES OF BREACHING THIS POLICY</h5>
    <p>
        The consequences for violating our Policy will vary depending on the severity of the
        breach and the user's history on the Services, by way of example:
        <br><br>
        We may, in some cases, give you a warning, however, if your breach is serious or if
        you continue to breach our Legal Terms and this Policy, we have the right to suspend
        or terminate your access to and use of our Services and, if applicable, disable your
        account. We may also notify law enforcement or issue legal proceedings against you
        when we believe that there is a genuine risk to an individual or a threat to public
        safety.
        <br><br>
        We exclude our liability for all action we may take in response to any of your
        breaches of this Policy.
    </p>
    <h5>HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h5>
    <p>
        If you have any further questions or comments, you may contact us by:
        <br><br><b>
            <b>Workan Inc.</b><br>
            1682-1771 Robson Street,<br>
            Vancouver, British Columbia V6G 3B7<br>
            Canada<br>
            Phone: (+1) 672-999-7533<br>
            vaibhav.agochiya@gmail.com
        </b>
    </p>
</div>