<!--Divider section-->

<section class="bg-color py-2">
    <section class="container">
        <div class="row">

            <div
                class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
                <h1 class=" text-capitalize fw-bolder text-white">
                    Manage Listing
                </h1>
            </div>

        </div>
    </section>
</section>

<!--Divider section end -->

<!-- Edit Section Starts  -->

<section class="common-section business-section" id="online_services">

    <div class="container">
        <div class="row g-5">
            <div class="col-xl-12 col-md-12 ">
                <!-- Ratings panel starts -->
                <div class="row g-5">

                    <app-dashboard-listings-form></app-dashboard-listings-form>

                </div>
                <!-- Ratings panel ends -->
            </div>
        </div>
    </div>

</section>




<!-- Edit Section Ends  -->