<!-- <label for="firstName">First Name</label>
<input required ngModel #firstName="ngModel" minlength="3" maxlength="10" pattern="banana" name="firstName" id="firstName" type="text" class="form-control">
<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
    <div *ngIf="firstName.errors?.required">First Name is required.</div>
    <div *ngIf="firstName.errors?.minlength">Min length should be 3.</div>
    <div *ngIf="firstName.errors?.pattern">Pattern is banana.</div>
</div> -->


<!-- Edit Section start -->

<div class="col-xl-12 col-md-12">

    <div class="form-section p-3 m-3">

        <!-- User Form Starts -->
        <form #editListing="ngForm" (ngSubmit)="onClickSubmit()">

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h3><b>Listing Details </b><i class="fa-regular fa-pen-to-square" type="button"
                                    data-bs-toggle="modal" data-bs-target="#listingDetailsModal"></i></h3>
                        </div>
                    </div>
                </div>
                <hr class="style1">
                <div *ngIf="displayListing" class="row">

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Speciality</label>
                            <h5>{{displayListing.subCategory.subCategoryName}}</h5>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Experience</label>
                            <h5>{{displayListing.experience}} Years</h5>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Charges Type</label>
                            <h5>{{displayListing.chargesType}}</h5>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Charges</label>
                            <h5><i class="fa-solid fa-dollar-sign" style="color: green;"></i> {{displayListing.charges | number : '1.2-2'}} (CAD)</h5>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="col-xxl-6 col-lg-6 col-12">
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{displayListing.location}}</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!-- User Form Ends -->
    </div>

    <div class="form-section p-3 m-3">

        <!-- User Form Starts -->
        <form #editListing="ngForm" (ngSubmit)="onClickSubmit()">

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h3><b>Time Slots </b>
                                <i *ngIf="!isTimeSlotExpanded" class="fa-solid fa-square-plus" type="button"
                                    (click)="toggleTimeSlotExpand()"
                                    style="font-size: x-large;color: rgb(100, 100, 100)"></i>
                                <i *ngIf="isTimeSlotExpanded" class="fa-solid fa-square-minus" type="button"
                                    (click)="toggleTimeSlotExpand()"
                                    style="font-size: x-large;color: rgb(100, 100, 100)"></i>
                            </h3>
                            <h6>** Time slots are in the local time of the listing city</h6>
                        </div>
                    </div>
                    <hr class="style1">
                </div>

                <!-- Slots for the day start  -->
                <div *ngIf="isTimeSlotExpanded">
                    <div *ngFor="let template of slotTemplates" class="row py-1">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Day <label class="custom-control teleport-switch" type="button">
                                        <input type="checkbox" class="teleport-switch-control-input"
                                            [checked]="template.enabled" (click)="toggleSlotTemplate(template.id)">
                                        <span class="teleport-switch-control-indicator"></span>
                                    </label></label>
                                <h4>{{template.dayName}}</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="py-3">Slots</label>
                                <div class="row">

                                    <div *ngFor="let item of template.items"
                                        class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12 py-1">
                                        <span class="btn btn-rounded btn-primary"
                                            (click)="removeSlotTemplateItem(item.id)">{{convertTimeToString(item.startTimeHhmm)}}-{{convertTimeToString(item.endTimeHhmm)}}
                                            <i class="fa-regular fa-circle-xmark"></i></span>
                                    </div>

                                    <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12 py-1">
                                        <span class="btn btn-rounded btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#addSlotModal"
                                            (click)="addSlotTemplateItemToDialog(template.id)"><i
                                                class="fa-solid fa-plus"></i></span>
                                    </div>
                                </div>
                            </div>
                            <hr class="style1">
                        </div>
                    </div>
                </div>

                <!-- Slots for the day end  -->


            </div>
        </form>
        <!-- User Form Ends -->
    </div>
</div>




<!-- MODALS START  -->
<!-- Listing Details Modal -->
<div class="modal fade" id="listingDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="listingDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listingDetailsModalLabel">Listing Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <!-- User Form Starts -->
                            <form #editListing="ngForm" (ngSubmit)="onClickSubmit()">

                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-xxl-12 col-lg-12 col-12">
                                            <div class="form-group">
                                                <label>Speciality</label>
                                                <select #subCategory class="form-select" aria-label="gender"
                                                    [value]="listing.subCategory.subCategoryName"
                                                    (change)="selectSubCategory(subCategory.value)">
                                                    <option *ngFor="let speciality of specialities"
                                                        [value]="speciality">{{speciality}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-xxl-12 col-lg-12 col-12">
                                            <div class="form-group">
                                                <app-select-map-location headline="Listing Location"
                                                    [initialValue]="listing.location"
                                                    (outputEvent)="locationSelectorOutput($event)"></app-select-map-location>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-xxl-6 col-lg-6 col-6">
                                            <div class="form-group">
                                                <label for="chargesType">Charges Type</label>
                                                <select #chargesType class="form-select" aria-label="gender"
                                                    [value]="listing.chargesType"
                                                    (change)="selectChargesType(chargesType.value)">
                                                    <option value="Per Visit">Per Visit</option>
                                                    <option value="Hourly">Hourly</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xxl-6 col-lg-6 col-6">
                                            <div class="form-group">
                                                <label for="chargesType">CAD</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa-solid fa-dollar-sign" style="color: green;"></i> </span>
                                                    </div>
                                                    <input #charges="ngModel" name="charges" id="charges" required
                                                        [(ngModel)]="listing.charges" minlength="3" type="text"
                                                        class="form-control"
                                                        aria-label="Amount (to the nearest dollar)">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="experience">Exp. (Years)</label>
                                                <select #experience class="form-select" aria-label="experience"
                                                    [value]="listing.experience"
                                                    (change)="selectExperience(experience.value)">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">> 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="modal-footer">
                                            <h6>** Area where the services are offered is the <b>listing location</b>.
                                            </h6>
                                            <button type="submit" class="btn btn-danger btn-rounded col-12"
                                                data-bs-toggle="modal"
                                                data-bs-target="#listingDetailsModal">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Listing Details Modal Ends -->

<!-- Add Slot Modal -->
<div class="modal fade" id="addSlotModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addSlotModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSlotModalLabel">Add time slot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="resetSlotDialog()"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <!-- User Form Starts -->
                            <form #editListing="ngForm" (ngSubmit)="addSlotTemplateItem()">

                                <div class="mb-4">
                                    <div class="row g-3">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="startTime">Start Time</label>
                                            </div>
                                            <select #startTime class="form-select" aria-label="gender"
                                                [value]="dialogSlotTemplateStartTime"
                                                (change)="setDialogStartTime(startTime.value)">
                                                <option default hidden>Select a time</option>
                                                <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">
                                                    {{timeSlot}}</option>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="endTime">End Time</label>
                                            </div>
                                            <select #endTime class="form-select" aria-label="gender"
                                                [value]="dialogSlotTemplateEndTime"
                                                (change)="setDialogEndTime(endTime.value)">
                                                <option default hidden>Select a time</option>
                                                <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">
                                                    {{timeSlot}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger btn-rounded col-12"
                                                data-bs-toggle="modal" data-bs-target="#addSlotModal">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Add Slot Modal Ends -->

<script>
    $('#customfileinput').on('change', function () {
        files = $(this)[0].files;
        name = '';
        for (var i = 0; i < files.length; i++) {
            name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
        }
        $(".custom-file-label").html(name);
    })
</script>