<!-- Edit Section start -->

<div class="col-xl-12 col-md-12">

    <div *ngIf="menuItem==0" class="form-section p-3 m-3">

        <!-- User Form Starts -->
        <form #editListing="ngForm">

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h3><b>Listing Details </b>
                                <i *ngIf="!displayListing&&allowListing" class="fa-regular fa-circle-plus primary-blue"
                                    style="border-radius: 100%!important;" type="button" data-bs-toggle="modal"
                                    data-bs-target="#listingDetailsModal"></i>
                                <i *ngIf="displayListing&&allowListing" class="fa-regular fa-pen-circle primary-blue"
                                    style="border-radius: 100%!important;" type="button" data-bs-toggle="modal"
                                    data-bs-target="#listingDetailsModal"></i>
                                <!-- <i *ngIf="displayListing&&allowListing"
                                    class="fa-regular fa-circle-trash primary-cancel" style="margin-left: 5px;"
                                    type="button" (click)="removeListing(displayListing.id)"></i> -->
                            </h3>
                            <h6 *ngIf="displayListing&&displayListing.subCategory&&displayListing.subCategory.verificationMandatory&&!displayListing.enabled"
                                style="color: red;">
                                <b>Pending Verification</b>
                            </h6>
                            <button (click)="requestVerification()"
                                *ngIf="displayListing&&displayListing.subCategory&&displayListing.subCategory.verificationMandatory&&!displayListing.enabled"
                                class="btn btn-primary btn-rounded btn-small mt-1">Request Verification</button>
                        </div>
                    </div>
                </div>
                <hr class="style1">
                <div *ngIf="displayListing" class="row">

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="col-xxl-6 col-lg-6 col-12">
                            <div class="form-group">
                                <label>Status</label>
                                <h5><b>{{displayListing.enabled?'Active':'Inactive'}}</b></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Speciality</label>
                            <h5>{{displayListing.subCategory.subCategoryName}}</h5>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Experience</label>
                            <h5>{{displayListing.experience>5?'> 5':displayListing.experience}} Years</h5>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Charges</label>
                            <h5><i class="fa-solid fa-dollar-sign" style="color: green;"></i>{{displayListing.minCharge
                                | number : '1.2-2'}} - <i class="fa-solid fa-dollar-sign"
                                    style="color: green;"></i>{{displayListing.maxCharge | number : '1.2-2'}}</h5>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="col-xxl-6 col-lg-6 col-12">
                            <div class="form-group">
                                <label>Location</label>
                                <h5>{{displayListing.location}}</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <hr
                    *ngIf="displayListing&&displayListing.subCategory&&displayListing.subCategory.verificationMandatory">
                <h6 *ngIf="displayListing&&displayListing.subCategory&&displayListing.subCategory.verificationMandatory&&!displayListing.enabled"
                    class="small-text">&bull; This specialization <b>requires verified</b> documents to post
                    listing.</h6>
                <h6 *ngIf="displayListing&&displayListing.subCategory&&displayListing.subCategory.verificationMandatory&&!displayListing.enabled"
                    class="small-text">&bull; Please upload all the relevant <b>certifications/documents</b> from
                    'My Documents' tab.
                </h6>
                <h6 *ngIf="displayListing&&displayListing.subCategory&&displayListing.subCategory.verificationMandatory&&!displayListing.enabled"
                    class="small-text">&bull; Click on 'Request Verification' once all the relevant documents get
                    <b>verified/sent</b> for verification.
                </h6>
                <h6 *ngIf="displayListing&&displayListing.subCategory&&displayListing.subCategory.verificationMandatory"
                    class="small-text">&bull; In case you want us to disable your listing use <b>'Feedback & Support'</b> and submit a request.
                </h6>
            </div>
        </form>
        <!-- User Form Ends -->
    </div>

    <div *ngIf="menuItem==0&&listing.id>0" class="row g-5">
        <div class="col-xl-12 col-md-12 ">
            <!-- Ratings panel starts -->
            <div class="row g-5">

                <div class="col-xl-12 col-md-12">

                    <div class="form-section p-3 m-3">

                        <!-- User Form Starts -->
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3><b>Service Price Chart </b><i type="button" data-bs-toggle="modal"
                                                data-bs-target="#addServicePriceModal"
                                                class="fa fa-plus-circle primary-blue" aria-hidden="true"></i></h3>
                                        <!-- <a class="link" type="button" style="font-size: .9rem!important;">Recommended
                                            Certifications</a> -->
                                    </div>
                                </div>
                            </div>
                            <hr class="style1" style="margin-top: 0.5rem;margin-bottom: 2rem;">
                            <div class="table-responsive">
                                <table class="table table-bordered th-sm">
                                    <thead
                                        style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                                        <tr>
                                            <th scope="col" class="text-center">Service Name</th>
                                            <th scope="col" class="text-center">Charges (CA$)</th>
                                            <th scope="col" class="text-center">Average Duration</th>
                                            <th scope="col" class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let servicePricing of servicePricings">
                                            <td class="text-center">
                                                {{servicePricing.serviceName}}
                                            </td>
                                            <td class="text-center">
                                                <i class="fa-solid fa-dollar-sign"
                                                    style="color: green;margin-right: .1rem;"></i>{{servicePricing.charges|number
                                                : '1.2-2'}}
                                            </td>
                                            <td class="text-center">
                                                {{servicePricing.serviceTimeHh>0?servicePricing.serviceTimeHh+'hr':''}}
                                                {{servicePricing.serviceTimeMm>0?servicePricing.serviceTimeMm+'min':''}}
                                            </td>
                                            <td class="text-center">
                                                <i type="button" class="fa-sharp fa-pen-to-square"
                                                    style="margin-right: 1rem;" data-bs-toggle="modal"
                                                    data-bs-target="#addServicePriceModal"
                                                    (click)="setEditServicePricing(servicePricing.id, servicePricing.serviceName, servicePricing.charges, servicePricing.serviceTimeHh, servicePricing.serviceTimeMm)"></i>
                                                <i type="button" class="fa-sharp fa-solid fa-trash"
                                                    (click)="removeServicePricing(servicePricing.id)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr class="style1">
                            <h6 class="small-text">&bull; Minimum cost per service should be CA$15.
                            </h6>
                            <h6 class="small-text">&bull; Parts/Material cost to be directly paid to the professional.
                            </h6>
                            <h6 class="small-text">&bull; The charges should <b>include all the taxes, payable by the
                                    freelance professional</b>.
                            </h6>
                        </div>
                        <!-- User Form Ends -->
                    </div>
                </div>

            </div>
            <!-- Ratings panel ends -->
        </div>
    </div>

    <div *ngIf="menuItem==1" class="row g-5">
        <div class="col-xl-12 col-md-12 ">
            <!-- Documents panel starts -->
            <div class="row g-5">

                <div class="col-xl-12 col-md-12">

                    <div class="form-section p-3 m-3">

                        <!-- documents Form Starts -->
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3><b>Documents / Certifications </b><i type="button" data-bs-toggle="modal"
                                                data-bs-target="#addCertificationModal"
                                                class="fa fa-plus-circle primary-blue" aria-hidden="true"></i></h3>
                                        <!-- <a class="link" type="button" style="font-size: .9rem!important;">Recommended
                                            Certifications</a> -->
                                    </div>
                                </div>
                            </div>
                            <hr class="style1" style="margin-top: 0.5rem;margin-bottom: 2rem;">
                            <h6 *ngIf="displayListing.subCategory.verificationMandatory&&!displayListing.enabled"
                                style="color: red;"><b>Please add all the relevant documents.</b></h6>
                            <div class="table-responsive">
                                <table class="table table-bordered th-sm">
                                    <thead
                                        style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                                        <tr>
                                            <th scope="col" class="text-center">Name</th>
                                            <th scope="col" class="text-center">Attachments</th>
                                            <th scope="col" class="text-center">Status</th>
                                            <th scope="col" class="text-center">Profile Visibility</th>
                                            <th scope="col" class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let certification of certifications">
                                            <td class="text-center">
                                                {{certification.name}}
                                            </td>
                                            <td class="text-center">
                                                <div class="col">
                                                    <a *ngFor="let attachment of certification.attachments; let first=first"
                                                        style="font-size: .9rem!important;"><a *ngIf="!first">,
                                                        </a>{{attachment.name}}</a>
                                                    <a *ngIf="certification.attachments.length<=0"
                                                        style="font-size: .9rem!important;color: grey;">
                                                        No Attachments
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a class="link px-1" *ngIf="certification.status=='Unverified'" type="button">
                                                        <label type="button" for="files" class="col-12" (click)="setClickCertId(certification.id)"><i
                                                                class="fa fa-plus-circle"
                                                                style="color: #0d6efd;"></i></label>
                                                    </a>
                                                    <a *ngIf="certification.attachments.length>0" class=" px-1"
                                                        type="button" (click)="downloadAttachments(certification.id)"><i
                                                            class="fa fa-download" aria-hidden="true"></i></a>
                                                    <a *ngIf="certification.attachments.length>0&&certification.status=='Unverified'"
                                                        class="link px-1" type="button"
                                                        (click)="clearAllAttachments(certification.id)"><i
                                                            class="fa fa-trash primary-cancel"
                                                            aria-hidden="true"></i></a>
                                                    <i *ngIf="certification.attachments.length<=0&&certification.status=='Unverified'"
                                                        class="fa fa-download px-1" style="color: rgb(162, 162, 162);"
                                                        aria-hidden="true"></i>
                                                    <i *ngIf="certification.attachments.length<=0&&certification.status=='Unverified'"
                                                        class="fa fa-trash px-1" style="color: rgb(162, 162, 162);"
                                                        aria-hidden="true"></i>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                {{certification.status}}
                                                <i *ngIf="certification.status=='Rejected'" class="fa fa-times-circle"
                                                    aria-hidden="true" style="color: rgb(255, 71, 71);"></i>
                                                <i *ngIf="certification.status=='Verified'" class="fa fa-check-circle"
                                                    aria-hidden="true" style="color: green;"></i>
                                            </td>
                                            <td class="text-center">
                                                {{certification.profileVisibility?'Visible':'Hidden'}}
                                            </td>
                                            <td class="text-center">
                                                <button *ngIf="certification.status=='Unverified'"
                                                    class="btn btn-primary btn-rounded btn-small m-1" type="button"
                                                    (click)="verifyCertification(certification.id)">Verify
                                                    Cert.</button>
                                                <button *ngIf="certification.status=='Verified'"
                                                    class="btn btn-primary btn-rounded btn-small m-1" type="button"
                                                    (click)="certificationVisibility(certification.id)">{{certification.profileVisibility?'Hide
                                                    from profile':'Show on profile'}}</button>
                                                <a *ngIf="certification.status=='Unverified'||certification.status=='Verified'" [hidden]="!certification.deleteAllowed"
                                                    class="px-1"
                                                    style="font-size: .8rem!important;color:rgb(105, 105, 105);"><i
                                                        class="fa-light fa-ellipsis-vertical"></i></a>
                                                <button class="btn btn-danger btn-rounded btn-small m-1" type="button"
                                                    [hidden]="!certification.deleteAllowed"
                                                    (click)="removeCertification(certification.id)">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr class="style1">
                            <h6><b>Terms & Conditions:</b></h6>
                            <h6 class="small-text mt-3"><b>MANDATORY DOCUMENTS</b>
                            </h6>
                            <h6 class="small-text">1. <b>Government issued ID</b>: Please upload an ID proof issued by government of Canada and make sure
                                the photo matches your profile picture.
                            </h6>
                            <h6 class="small-text">2. <b>Professional certifications (If applicable)</b>: Please upload all the relevant documents /
                                    certifications (if required by the profession).
                            </h6>
                            <h6 class="small-text mt-2"><b>GUIDELINES </b><i (click)="toggleGuidelines()" type="button" *ngIf="!showGuidelines" class="fa-solid fa-plus"></i><i (click)="toggleGuidelines()" type="button" *ngIf="showGuidelines" class="fa-solid fa-minus"></i>
                            </h6>
                            <h6 *ngIf="showGuidelines" class="small-text">1. Only image and pdf files allowed as attachments. Max
                                size
                                per attachment is 2Mb.
                            </h6>
                            <h6 *ngIf="showGuidelines" class="small-text">2. You can allow certifications to be shown on your profile by
                                clicking on 'show on profile'.
                            </h6>
                        </div>
                        <!-- User Form Ends -->
                    </div>
                </div>

            </div>
            <!-- Ratings panel ends -->
        </div>
    </div>

    <div *ngIf="menuItem==2" class="form-section p-3 m-3">

        <!-- User Form Starts -->
        <form #editListing="ngForm" (ngSubmit)="onClickSubmit()">

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h3><b>Availability Template</b>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row table-responsive border py-3 px-1">
                    <div class="btn-group py-2" role="group" aria-label="Basic radio toggle button group">
                        <input (click)="selectSlot('Monday')" type="radio" class="btn-check" name="btnradio"
                            id="btnradio1" autocomplete="off" [checked]="selectedDay=='Monday'">
                        <label class="btn slot-btn shadow-none btn-rounded btn-outline-primary"
                            for="btnradio1">MON</label>

                        <input (click)="selectSlot('Tuesday')" type="radio" class="btn-check" name="btnradio"
                            id="btnradio2" autocomplete="off" [checked]="selectedDay=='Tuesday'">
                        <label class="btn slot-btn shadow-none btn-rounded btn-outline-primary"
                            for="btnradio2">TUE</label>

                        <input (click)="selectSlot('Wednesday')" type="radio" class="btn-check" name="btnradio"
                            id="btnradio3" autocomplete="off" [checked]="selectedDay=='Wednesday'">
                        <label class="btn slot-btn shadow-none btn-rounded btn-outline-primary"
                            for="btnradio3">WED</label>

                        <input (click)="selectSlot('Thursday')" type="radio" class="btn-check" name="btnradio"
                            id="btnradio4" autocomplete="off" [checked]="selectedDay=='Thursday'">
                        <label class="btn slot-btn shadow-none btn-rounded btn-outline-primary"
                            for="btnradio4">THU</label>
                    </div>
                    <div class="btn-group py-2" role="group" aria-label="Basic radio toggle button group">

                        <input (click)="selectSlot('Friday')" type="radio" class="btn-check" name="btnradio"
                            id="btnradio5" autocomplete="off" [checked]="selectedDay=='Friday'">
                        <label class="btn slot-btn shadow-none btn-rounded btn-outline-primary"
                            for="btnradio5">FRI</label>

                        <input (click)="selectSlot('Saturday')" type="radio" class="btn-check" name="btnradio"
                            id="btnradio6" autocomplete="off" [checked]="selectedDay=='Saturday'">
                        <label class="btn slot-btn shadow-none btn-rounded btn-outline-primary"
                            for="btnradio6">SAT</label>

                        <input (click)="selectSlot('Sunday')" type="radio" class="btn-check" name="btnradio"
                            id="btnradio7" autocomplete="off" [checked]="selectedDay=='Sunday'">
                        <label class="btn slot-btn shadow-none btn-rounded btn-outline-primary"
                            for="btnradio7">SUN</label>
                    </div>
                </div>

                <!-- Slots for the day start  -->
                <div>
                    <div *ngFor="let template of availabilityRange" class="row">
                        <div *ngIf="selectedDay==template.dayName">
                            <div class="col-12 py-1">
                                <div class="form-group">
                                    <h4>{{template.dayName}}
                                        <a *ngIf="template.endTimeHhmm" type="button" class="link"
                                            style="font-size: 0.8rem!important;"
                                            (click)="copySlotItems(template.dayName, template.startTimeHhmm, template.endTimeHhmm)">Copy</a>
                                        <a *ngIf="!template.endTimeHhmm" class="link link-disabled"
                                            style="font-size: 0.8rem!important;">Copy</a>
                                        <i class="fa fa-ellipsis-v px-1"
                                            style="font-size: 0.8rem!important;color: grey;" aria-hidden="true"></i>
                                        <a *ngIf="template.templateId&&copyStartTime" type="button"
                                            (click)="pasteSlotItems(template.dayName,template.templateId, template.enabled)"
                                            class="link" style="font-size: 0.8rem!important;">Paste</a>
                                        <a *ngIf="!copyStartTime" class="link link-disabled"
                                            style="font-size: 0.8rem!important;">Paste</a>
                                    </h4>
                                    <div *ngIf="!toggleLoader&&template.startTimeHhmm&&template.endTimeHhmm"
                                        class="form-check form-switch">
                                        <label type="button" [hidden]="!template.enabled" class="form-check-label"
                                            for="slotSwitch" style="color: rgb(0, 165, 0);">On</label>
                                        <label type="button" [hidden]="template.enabled" class="form-check-label"
                                            for="slotSwitch" style="color: rgb(177, 0, 0);">Off</label>
                                        <input id="slotSwitch" (click)="toggleSlotTemplate(template.templateId)"
                                            class="form-check-input" type="checkbox" [checked]="template.enabled"
                                            role="switch">
                                    </div>
                                    <div *ngIf="toggleLoader&&template.startTimeHhmm&&template.endTimeHhmm">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="py-2">Availability Range:</label>
                                    <div class="row">
                                        <div class="col py-1">
                                            <span class="btn btn-rounded btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#addSlotModal" style="margin-left: .2rem;"
                                                (click)="addSlotTemplateItemToDialog(template.templateId)">
                                                <span *ngIf="template.startTimeHhmm&&template.endTimeHhmm"
                                                    style="margin-right: .4rem;">{{dateTimeService.convertTimeToString(template.startTimeHhmm)}}
                                                    -
                                                    {{dateTimeService.convertTimeToString(template.endTimeHhmm)}}</span>
                                                <i class="fa-solid fa-pen"></i></span>
                                        </div>
                                    </div>
                                    <hr class="style1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slots for the day end  -->
                <h6 class="small-text">&bull; Switching the schedule on/off will enable/disable the availability for the
                    corresponding day.</h6>
            </div>
        </form>
        <!-- User Form Ends -->
    </div>

    <div *ngIf="menuItem==2" class="form-section p-3 m-3">

        <!-- User Form Starts -->
        <form #editListing="ngForm" (ngSubmit)="onClickSubmit()">

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        <h3><b>Unavailability</b>
                        </h3>
                        <label style="margin-bottom: 1rem!important;">Unavailable Dates:</label>
                    </div>
                </div>

                <!-- Slots for the day start  -->
                <div>
                    <div class="form-group">
                        <div class="row">
                            <div *ngFor="let day of unavailableDays" class="col-xl-2 col-md-3 col-sm-6 col-xs-6 py-1">
                                <span class="btn btn-rounded btn-danger"
                                    style="margin-left: .2rem;min-width: 9.9rem!important;"
                                    (click)="removeUnavailableDate(day.id)">
                                    <span style="margin-right: 1rem;">{{day.date|date:'dd MMM
                                        (EEE)':'+0000'}}</span>
                                    <i class="fa fa-times" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 py-1">
                                <span class="btn btn-rounded btn-danger" style="margin-left: .2rem;"
                                    data-bs-toggle="modal" data-bs-target="#markUnavailableModal">
                                    <i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <hr class="style1">
                    </div>
                </div>

                <!-- Slots for the day end  -->
                <h6 class="small-text">&bull; Add the date(s) you are unavailable and do not wish to take orders for.
                </h6>
                <h6 class="small-text">&bull; These date(s) will be unavailable despite the status of the day
                    availability.
                </h6>
            </div>
        </form>
        <!-- User Form Ends -->
    </div>

    <div *ngIf="menuItem==3" class="row g-5">
        <div class="col-xl-12 col-md-12 ">
            <!-- Documents panel starts -->
            <div class="row g-5">

                <div class="col-xl-12 col-md-12">

                    <div class="form-section p-3 m-3">

                        <!-- documents Form Starts -->
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3><b>My Portfolio </b><i *ngIf="portfolioImages&&portfolioImages.length<6"
                                                type="button" data-bs-toggle="modal" data-bs-target="#profilePhotoModal"
                                                (click)="loadEditPhotoModal()" class="fa fa-plus-circle primary-blue"
                                                aria-hidden="true"></i></h3>
                                        <button (click)="requestPortfolioVerification()" [disabled]="!enablePortVerify"
                                            class="btn btn-primary btn-rounded btn-small mt-1">Verify Portfolio</button>
                                    </div>
                                </div>
                            </div>
                            <hr class="style1" style="margin-top: 0.5rem;margin-bottom: 2rem;">
                            <div class="row">
                                <div class="text-center col m-2 py-3" style="background-color: rgb(246, 246, 246);"
                                    *ngFor="let image of portfolioImages; let i=index">
                                    <div type="button" disabled data-bs-toggle="modal" data-bs-target="#viewPhotoModal"
                                        (click)="loadPortfolioImage(image.id, image.thumbnail, i)">
                                        <div>
                                            <img alt="GIF Image" class="img-fluid"
                                                [src]="'data:image/png;base64,'+image.thumbnail" width="200px">
                                        </div>
                                        <button *ngIf="image.approved" type="button" class="btn btn-success btn-small mt-1"
                                            disabled>APPROVED</button>
                                        <button *ngIf="!image.approved&&!image.rejected" type="button" class="btn btn-warning btn-small mt-1"
                                            disabled>PENDING APPROVAL</button>
                                        <button *ngIf="image.rejected" type="button" class="btn btn-danger btn-small mt-1"
                                            disabled>REJECTED</button>
                                    </div>
                                </div>
                                <div *ngIf="portfolioImages.length%2==1" class="text-center col m-2 py-3" style="width: 200px;">
                                </div>
                                <div *ngIf="portfolioImages.length<3" class="text-center col m-2 py-3" style="width: 200px;">
                                </div>
                            </div>
                            <div class="col-12 py-3">
                                <div *ngIf="portfolioImages?.length == 0" class="alert alert-warning col-12"
                                    role="alert">
                                    No images found.
                                </div>
                            </div>
                            <hr class="style1">
                            <h6 class="small-text">&bull; You can add a maximum of <b>6 portfolio images</b>.
                            </h6>
                            <h6 class="small-text">&bull; Portfolio approvals can take upto <b>2 working days</b>.
                            </h6>
                            <h6 class="small-text">&bull; Images should <b>showcase your work</b> and <b>not include
                                    personal information</b> like phone numbers, business cards, etc.
                            </h6>
                        </div>
                        <!-- User Form Ends -->
                    </div>
                </div>

            </div>
            <!-- Ratings panel ends -->
        </div>
    </div>
</div>




<!-- MODALS START  -->
<!-- Listing Details Modal -->
<div class="modal fade" id="listingDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="listingDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listingDetailsModalLabel">Listing Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div style="padding-top:1rem;">

                            <!-- User Form Starts -->
                            <form #editListing="ngForm" (ngSubmit)="onClickSubmit()">

                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-xxl-12 col-lg-12 col-12">
                                            <div class="form-group">
                                                <label>Speciality</label>
                                                <select #subCategory class="form-select" aria-label="gender"
                                                    [value]="listing.subCategory.subCategoryName"
                                                    (change)="selectSubCategory(subCategory.value)">
                                                    <option value="" default hidden>Select a speciality</option>
                                                    <option *ngFor="let speciality of specialities"
                                                        [value]="speciality">{{speciality}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-xxl-12 col-lg-12 col-12">
                                            <div class="form-group">
                                                <app-select-map-location headline="Listing Address"
                                                    [initialValue]="listing.location"
                                                    (outputEvent)="locationSelectorOutput($event)"></app-select-map-location>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="experience">Exp. (Years)</label>
                                                <select #experience class="form-select" aria-label="experience"
                                                    [value]="listing.experience" style="text-align: center;"
                                                    (change)="selectExperience(experience.value)">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">> 5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div style="padding-top: 1rem;">
                                    <div class="row">
                                        <div class="modal-footer">
                                            <a>
                                                <h6 class="small-text">&bull; <b>Listing Address:</b> Used for letting
                                                    customers get an idea of how far you are from them.
                                                </h6>
                                                <h6 class="small-text">&bull; Listing Address <b>should NOT</b> be your
                                                    personal address.
                                                </h6>
                                            </a>
                                            <button type="submit" class="btn btn-danger btn-rounded col-12" [disabled]="listing.subCategory.subCategoryName==''
                                                            ||listing.experience==0
                                                            ||listing.location==''" data-bs-toggle="modal"
                                                data-bs-target="#listingDetailsModal">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Listing Details Modal Ends -->

<!-- Add Certification Modal -->
<div class="modal fade" id="addCertificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addCertificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCertificationModalLabel">Add Document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="resetCertificationDialog()"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <!-- User Form Starts -->
                            <form #editListing="ngForm" (ngSubmit)="addCertificate()">

                                <div class="mb-3">
                                    <div class="row g-3">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="certName">Document Name</label>
                                                <input #certName="ngModel" required [(ngModel)]="addCertName"
                                                    minlength="3" maxlength="50" name="certName" id="certName"
                                                    type="text" class="form-control" autocomplete="off">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="row">
                                    <div class="modal-footer" style="border-top: 0!important;">
                                        <button type="submit" class="btn btn-danger btn-rounded col-12"
                                            [disabled]="addCertName==''&&addCertName.length<4" data-bs-toggle="modal"
                                            data-bs-target="#addCertificationModal">Add Document</button>
                                    </div>
                                </div>

                            </form>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Add Certification Modal Ends -->

<!-- Add Service Price Modal -->
<div class="modal fade" id="addServicePriceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addServicePriceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aaddServicePriceModalLabel">Service Price</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="resetServicePriceDialog()"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <!-- User Form Starts -->
                            <form #editServicePricing="ngForm" (ngSubmit)="saveServicePricing()">

                                <div class="mb-3">
                                    <div class="row g-3">

                                        <div class="col-12">
                                            <label>Service Name:</label>
                                            <div class="form-group">
                                                <div class="form-check form-check-inline">
                                                    <label type="button" class="form-check-label"
                                                        for="serviceNameRadio1"
                                                        (click)="toggleServicePriceSelect(true)">
                                                        <input class="form-check-input" type="radio"
                                                            name="serviceNameRadioDefault" id="serviceNameRadio1"
                                                            [checked]="isServicePriceSelect">
                                                        Select
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label type="button" class="form-check-label"
                                                        for="serviceNameRadio2"
                                                        (click)="toggleServicePriceSelect(false)">
                                                        <input class="form-check-input" type="radio"
                                                            name="serviceNameRadioDefault" id="serviceNameRadio2"
                                                            [checked]="!isServicePriceSelect">
                                                        Custom
                                                    </label>
                                                </div>
                                                <select *ngIf="isServicePriceSelect" #serviceName class="form-select"
                                                    aria-label="servicePricings" style="margin-top: .3rem;"
                                                    [value]="addServicePriceName"
                                                    (change)="selectServicePrice(serviceName.value)">
                                                    <option value="" default hidden>Select a service name</option>
                                                    <option
                                                        *ngFor="let servicePrice of listing.subCategory.servicePricings"
                                                        [value]="servicePrice">{{servicePrice}}</option>
                                                </select>
                                                <input *ngIf="!isServicePriceSelect" #certName="ngModel" required
                                                    [(ngModel)]="addServicePriceName" style="margin-top: .3rem;"
                                                    minlength="3" maxlength="50" name="certName" id="certName"
                                                    type="text" class="form-control" autocomplete="off"
                                                    placeholder="Enter a custom service name">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="serviceCharges">Charges(CA$):</label>
                                                <div class="input-group mb-3" style="margin-top: .3rem;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" style="color: green;">$</span>
                                                    </div>
                                                    <input #charges="ngModel" name="serviceCharges" id="serviceCharges"
                                                        required [(ngModel)]="addServicePriceCharges" type="number"
                                                        autocomplete="off" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="serviceCharges">Average Duration:</label>
                                                <div class="input-group mb-3" style="margin-top: .3rem;">
                                                    <span class="m-2 py-1 border col-6"
                                                        style="border-radius: .3rem;width: 8.3rem;padding-left: .55rem">Hours:
                                                        <i type="button" class="fa fa-angle-down primary-blue"
                                                            aria-hidden="true" style="margin-right: .4rem;"
                                                            (click)="addSubHours(false)"></i>
                                                        <span class="p-1"
                                                            style="background-color: rgb(240, 240, 240);border-radius: .3rem">{{addServiceTimeHh}}</span>
                                                        <i type="button" class="fa fa-angle-up primary-blue"
                                                            (click)="addSubHours(true)" style="margin-left: .4rem;"
                                                            aria-hidden="true"></i>
                                                    </span>
                                                    <span class="m-2 py-1 border col-6"
                                                        style="border-radius: .3rem;width: 8.3rem;padding-left: .8rem">Mins:
                                                        <i type="button" class="fa fa-angle-down primary-blue"
                                                            aria-hidden="true" style="margin-right: .4rem;"
                                                            (click)="addSubMins(false)"></i>
                                                        <span class="p-1"
                                                            style="background-color: rgb(240, 240, 240);border-radius: .3rem">{{addServiceTimeMm}}</span>
                                                        <i type="button" class="fa fa-angle-up primary-blue"
                                                            style="margin-left: .4rem;" aria-hidden="true"
                                                            (click)="addSubMins(true)"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="row">
                                    <div class="modal-footer" style="border-top: 0!important;">
                                        <button type="submit" class="btn btn-danger btn-rounded col-12"
                                            [disabled]='addServicePriceName==""||!addServicePriceCharges||addServicePriceCharges<15||(!(addServiceTimeHh>0)&&!(addServiceTimeMm>0))'
                                            data-bs-toggle="modal" data-bs-target="#addServicePriceModal">Add
                                            Service</button>
                                    </div>
                                </div>
                            </form>
                            <button *ngIf="editServicePricingId" class="btn btn-warning btn-rounded col-12"
                                (click)="saveServicePricing(true)"
                                [disabled]='addServicePriceName==""||!addServicePriceCharges||addServicePriceCharges<15||(!(addServiceTimeHh>0)&&!(addServiceTimeMm>0))'
                                data-bs-toggle="modal" data-bs-target="#addServicePriceModal">Add Duplicate</button>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Add Service Price Modal Ends -->

<!-- Add Slot Modal -->
<div class="modal fade" id="addSlotModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addSlotModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSlotModalLabel">Set availability time</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="resetSlotDialog()"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section" style="padding: 0!important;">

                            <!-- User Form Starts -->
                            <form #editListing="ngForm" (ngSubmit)="createSlotRange()">

                                <div class="mb-4">
                                    <div class="row g-3">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="startTime">Start Time</label>
                                            </div>
                                            <select #startTime class="form-select" aria-label="gender"
                                                [value]="dialogSlotTemplateStartTime"
                                                (change)="setDialogStartTime(startTime.value)">
                                                <option default hidden>Select a time</option>
                                                <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">
                                                    {{timeSlot}}</option>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="endTime">End Time</label>
                                            </div>
                                            <select #endTime class="form-select" aria-label="gender"
                                                [value]="dialogSlotTemplateEndTime"
                                                (change)="setDialogEndTime(endTime.value)">
                                                <option default hidden>Select a time</option>
                                                <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">
                                                    {{timeSlot}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger btn-rounded col-12"
                                                data-bs-toggle="modal" data-bs-target="#addSlotModal">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Add Slot Modal Ends -->

<!-- Mark Unavailable Modal -->
<div class="modal fade" id="markUnavailableModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="markUnavailableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <app-unavailability-calendar
            (markUnavailableEvent)="addUnavailabilityForProfessional($event)"></app-unavailability-calendar>
    </div>
</div>
<!-- Mark Unavailable Ends -->

<!-- Edit Photo Modal -->
<app-photo-uploader *ngIf="showUploader&&displayListing" [listingId]="displayListing.id"
    (reloadEvent)="reloadUploader()" (reloadPortfolio)="loadPortFolio()"></app-photo-uploader>
<!-- Edit Photo Modal Ends -->

<!-- hidden file input starts -->
<input *ngIf="menuItem==1" id="files" name="files" type="file" (change)="handleAttachment($event)" style="visibility:hidden;">
<!-- hidden file input ends -->

<!-- Edit Photo Modal -->
<app-photo-viewer *ngIf="menuItem==3" [image]="viewImage" (prevPic)="prevPortPic()" (nextPic)="nextPortPic()" (removePic)="removePortPic()"
    [prevbtn]="showPrevPic" [nextbtn]="showNextPic" [enableEdit]="true"></app-photo-viewer>
<!-- Edit Photo Modal -->