<!--Divider section-->

<section class="bg-color">
    <section class="container">
        <div class="row">

            <div
                class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
                <h1 class=" text-capitalize fw-bolder text-white">
                    Previous Orders
                </h1>
            </div>

        </div>
    </section>
</section>

<!--Divider section end -->

<div class="alert alert-warning col-md-12" role="alert">
    <h1>
        Previous Orders
    </h1>
    Nothing Found.
  </div>