<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="confirmOrderModalLabel">Confirm Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <!-- step1 modal body start  -->
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col py-2">
                    <span><b>Start time:
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cancelReasonRadio"
                                    id="confirmOrder1">
                                <label class="form-check-label" for="confirmOrder1">
                                    Apple
                                </label>
                            </div>
                        </b></span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col py-2">
                    <h6><b>End Time:</b></h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="cancelReasonRadio" id="confirmOrder1">
                        <label class="form-check-label" for="confirmOrder1">
                            Apple
                        </label>
                    </div>
                </div>
            </div>
            <hr class="style1">
            <div class="d-flex justify-content-end py-3">
                <button type="button" class="btn btn-warning btn-rounded col-12" data-bs-dismiss="modal">
                    <span>Cancel Order</span>
                </button>
            </div>

        </div>
    </div>
    <!-- step1 modal body ends  -->

</div>