<!--Divider section-->

<section class="bg-color py-2">
    <section class="container">
        <div class="row">

            <div
                class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
                <h1 class=" text-capitalize fw-bolder text-white">
                    Payments
                </h1>
            </div>

        </div>
    </section>
</section>

<!--Divider section end -->

<ul class="nav nav-pills px-3 py-2 bg-color justify-content-end">
    <li class="nav-item">
        <a type="button" class="nav-link" [ngClass]="showWallet?'active':''" (click)="toggleTabs()">Wallet</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link" [ngClass]="!showWallet?'active':''" (click)="toggleTabs()">Order History</a>
    </li>
</ul>


<!-- Edit Section Starts  -->

<section class="common-section business-section" id="online_services">

    <div *ngIf="paymentAccount" class="container" style="min-height: 26rem;">

        <div *ngIf="!showWallet" class="row g-5">
            <div class="col-xl-12 col-md-12 ">
                <!-- Ratings panel starts -->
                <div class="row g-5">

                    <div class="col-xl-12 col-md-12">

                        <div class="form-section p-3 m-3">

                            <!-- User Form Starts -->
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h3>Order Transactions</h3>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="orderTransactions&&orderTransactions.length>0" class="style1"
                                    style="margin-top: 0.5rem;margin-bottom: 2rem;">
                                <div *ngIf="orderTransactions&&orderTransactions.length>0" class="table-responsive">
                                    <table class="table table-bordered th-sm">
                                        <thead
                                            style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                                            <tr>
                                                <th scope="col" class="text-center">Date</th>
                                                <th scope="col" class="text-center">Description</th>
                                                <th scope="col" class="text-center">Mode</th>
                                                <th scope="col" class="text-center">Type</th>
                                                <th scope="col" class="text-center">Amount</th>
                                                <th scope="col" class="text-center">Invoice</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let transaction of orderTransactions">
                                                <td class="text-center">
                                                    {{transaction.transactionDate|date:'dd-MMM-yyyy'}}</td>
                                                <td class="text-center">{{transaction.description}}</td>
                                                <td class="text-center">{{transaction.mode}}</td>
                                                <td class="text-center">{{transaction.type}}</td>
                                                <td class="text-center">${{transaction.total| number : '1.2-2'}}</td>
                                                <td class="text-center"><a class="link" type="button"
                                                        (click)="generatePdf(dateToString(transaction.transactionDate), transaction.invoice)"><i
                                                            class="fa fa-download" aria-hidden="true"></i>
                                                    </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <hr class="style1">
                            </div>
                            <!-- User Form Ends -->
                        </div>
                    </div>

                </div>
                <!-- Ratings panel ends -->
            </div>
        </div>

        <div *ngIf="showWallet">
            <div class="row g-5">
                <div class="col-xl-12 col-md-12 ">
                    <!-- Ratings panel starts -->
                    <div class="row g-5">

                        <div class="col-xl-12 col-md-12">

                            <div class="form-section p-3 m-3">

                                <!-- User Form Starts -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h3><b>Wallet </b></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="style1">
                                    <div class="row">

                                        <div class="col-xxl-6 col-lg-6 col-12 py-2">
                                            <div class="form-group">
                                                <h4><i class="fa-solid fa-dollar-sign" style="color: green;"></i><span
                                                        style="color: brown;"> {{paymentAccount.balance | number :
                                                        '1.2-2'}}</span> </h4>
                                            </div>
                                        </div>

                                        <!-- <div *ngIf="paymentAccount.balance>0" class="col-12">
                                            <hr class="style1">
                                            <button class="btn btn-success btn-rounded col-12" type="button">Credit To
                                                Paypal</button>
                                        </div> -->

                                        <div class="col-12">
                                            <hr class="style1">
                                            <button class="btn btn-success btn-rounded col-12" type="button">Add Money to Wallet</button>
                                        </div>

                                        <div class="col-12 mt-2">
                                            <button class="btn btn-warning btn-rounded col-12" type="button">Transfer Money to Paypal</button>
                                        </div>

                                    </div>
                                </div>
                                <!-- User Form Ends -->
                            </div>
                        </div>

                    </div>
                    <!-- Ratings panel ends -->
                </div>
            </div>

            <div *ngIf="isProfessional" class="row g-5">
                <div class="col-xl-12 col-md-12 ">
                    <!-- Ratings panel starts -->
                    <div class="row g-5">

                        <div class="col-xl-12 col-md-12">

                            <div class="form-section p-3 m-3">

                                <!-- User Form Starts -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h3><img width="10%" src="assets/paypal.png"></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="small-text" style="font-weight: bold;color: rgb(45, 45, 45);">&bull; Please link your paypal email.</h6>
                                    <h6 class="small-text" style="font-weight: bold;color: rgb(45, 45, 45);">&bull; You can directly transfer money from wallet to your paypal email.</h6>
                                    <hr class="style1">
                                    <div class="row">
                                        <h5 *ngIf="!paymentAccount.paypalAccount.email">Email:
                                            <input type="email" *ngIf="!paymentAccount.paypalAccount.email&&editEmail"
                                                required [(ngModel)]="inputEmail" class="col-3"
                                                style="text-align: center;margin-left: 5px;margin-right: 5px;">
                                            <a *ngIf="!paymentAccount.paypalAccount.email&&!editEmail" class="link"
                                                type="button" (click)="toggleEditEmail()"><i class="fa fa-plus-circle"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <span *ngIf="emailSpinner"><i class="fas fa-spinner fa-pulse"></i></span>
                                            <span *ngIf="!paymentAccount.paypalAccount.email&&editEmail&&!emailSpinner"
                                                class="primary-success px-1" type="button" (click)="addPaypalEmail()"><i
                                                    class="fa fa-check-circle" aria-hidden="true"></i>
                                            </span>
                                            <span *ngIf="!paymentAccount.paypalAccount.email&&editEmail&&!emailSpinner"
                                                class="primary-cancel" type="button" (click)="toggleEditEmail()"><i
                                                    class="fa fa-times-circle" aria-hidden="true"></i>
                                            </span>
                                        </h5>
                                        <div *ngIf="paymentAccount.paypalAccount.email"
                                            class="col-xxl-6 col-lg-6 col-12">
                                            <div class="form-group">
                                                <h5>Email: {{paymentAccount.paypalAccount.email}}
                                                    <span *ngIf="paymentAccount.paypalAccount.verified"
                                                        style="font-size: large;">(Verified <i
                                                            class="fa fa-check-circle" style="color: green;"
                                                            aria-hidden="true"></i>)
                                                    </span>
                                                    <div style="font-size: .1rem!important;margin-top: .6rem;">
                                                        <span *ngIf="!paymentAccount.paypalAccount.verified"><a class="link" type="button" data-bs-toggle="modal"
                                                                data-bs-target="#enterOtpModal">(Verify</a></span>
                                                        <span *ngIf="!paymentAccount.paypalAccount.verified"><a class="link"> / </a></span>
                                                        <span *ngIf="paymentAccount.paypalAccount.verified"><a class="link">(</a></span>
                                                        <span><a class="link" type="button"
                                                                (click)="removePaypalEmail()">Remove email)</a></span>
                                                    </div>
                                                </h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- User Form Ends -->
                            </div>
                        </div>

                    </div>
                    <!-- Ratings panel ends -->
                </div>
            </div>

            <div class="row g-5">
                <div class="col-xl-12 col-md-12 ">
                    <!-- Ratings panel starts -->
                    <div class="row g-5">

                        <div class="col-xl-12 col-md-12">

                            <div class="form-section p-3 m-3">

                                <!-- User Form Starts -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h3>Wallet Transactions</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <hr *ngIf="walletTransactions&&walletTransactions.length>0" class="style1"
                                        style="margin-top: 0.5rem;margin-bottom: 2rem;">
                                    <div *ngIf="walletTransactions&&walletTransactions.length>0"
                                        class="table-responsive">
                                        <table class="table table-bordered th-sm">
                                            <thead
                                                style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                                                <tr>
                                                    <th scope="col" class="text-center">Date</th>
                                                    <th scope="col" class="text-center">Description</th>
                                                    <th scope="col" class="text-center">Mode</th>
                                                    <th scope="col" class="text-center">Type</th>
                                                    <th scope="col" class="text-center">Amount</th>
                                                    <th scope="col" class="text-center">Invoice</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let transaction of walletTransactions">
                                                    <td class="text-center">
                                                        {{transaction.transactionDate|date:'dd-MMM-yyyy'}}</td>
                                                    <td class="text-center">{{transaction.description}}</td>
                                                    <td class="text-center">{{transaction.mode}}</td>
                                                    <td class="text-center">{{transaction.type}}</td>
                                                    <td class="text-center">${{transaction.total| number : '1.2-2'}}
                                                    </td>
                                                    <td class="text-center"><a class="link" type="button"
                                                            (click)="prepareInvoiceForProfessional(dateToString(transaction.transactionDate), transaction.invoice)"><i
                                                                class="fa fa-download" aria-hidden="true"></i>
                                                        </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <hr class="style1">
                                </div>
                                <!-- User Form Ends -->
                            </div>
                        </div>

                    </div>
                    <!-- Ratings panel ends -->
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Edit Section Ends  -->

<!-- Modal section begins -->

<div class="modal fade" id="enterOtpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="enterOtpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enterOtpModalLabel" style="font-weight: bold;">Enter OTP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeOtpModal()"></button>
            </div>

            <!-- modal body start  -->
            <div class="modal-body">
                <div class="form-section">
                    <div class="row g-5">

                        <div class="d-flex justify-content-center align-items-center">
                            <!-- Selector card start -->
                            <div class="row g-4">
                                <div class="form-group col-2">
                                    <input required [(ngModel)]="otpValue[0]"
                                        style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;"
                                        maxlength="1" name="otpValue" id="otp_1" type="text" pattern="\d*"
                                        class="form-control" autocomplete="off" (keyup)="moveToNext(2)">
                                </div>
                                <div class="form-group col-2">
                                    <input required [(ngModel)]="otpValue[1]"
                                        style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;"
                                        maxlength="1" name="otpValue" id="otp_2" type="text" pattern="\d*"
                                        class="form-control" autocomplete="off" (keyup)="moveToNext(3)">
                                </div>
                                <div class="form-group col-2">
                                    <input required [(ngModel)]="otpValue[2]"
                                        style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;"
                                        maxlength="1" name="otpValue" id="otp_3" type="text" pattern="\d*"
                                        class="form-control" autocomplete="off" (keyup)="moveToNext(4)">
                                </div>
                                <div class="form-group col-2">
                                    <input required [(ngModel)]="otpValue[3]"
                                        style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;"
                                        maxlength="1" name="otpValue" id="otp_4" type="text" pattern="\d*"
                                        class="form-control" autocomplete="off" (keyup)="moveToNext(5)">
                                </div>
                                <div class="form-group col-2">
                                    <input required [(ngModel)]="otpValue[4]"
                                        style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;"
                                        maxlength="1" name="otpValue" id="otp_5" type="text" pattern="\d*"
                                        class="form-control" autocomplete="off" (keyup)="moveToNext(6)">
                                </div>
                                <div class="form-group col-2">
                                    <input required [(ngModel)]="otpValue[5]"
                                        style="padding-left: 15%;padding-right: 15%;min-width: 24px;text-align: center;"
                                        maxlength="1" name="otpValue" id="otp_6" type="text" pattern="\d*"
                                        class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-rounded" data-bs-dismiss="modal"
                            aria-label="Close" (click)="verifyOtp()">Confirm</button>
                    </div>
                </div>
            </div>
            <!-- modal body ends  -->

        </div>
    </div>
</div>

<!-- Modals section ends -->