<!--Divider section-->

<section class="bg-color py-2">
    <section class="container">
        <div class="row">

            <div
                class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
                <h1 class=" text-capitalize fw-bolder text-white">
                    Payments
                </h1>
            </div>

        </div>
    </section>
</section>

<!--Divider section end -->

<ul class="nav nav-pills px-3 py-2 bg-color justify-content-end">
    <li *ngIf="isProfessional" class="nav-item">
        <a type="button" class="nav-link nav-tab" [ngClass]="showWallet?'active':''" (click)="toggleTabs(true)">Wallet</a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link nav-tab" [ngClass]="!showWallet?'active':''" (click)="toggleTabs(false)">Order History</a>
    </li>
</ul>

<!-- Edit Section Starts  -->

<section class="common-section business-section" id="online_services">

    <div *ngIf="paymentAccount" class="container" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" style="min-height: 26rem;">

        <div *ngIf="!showWallet" class="row g-5">
            <div class="col-xl-12 col-md-12 ">
                <!-- Ratings panel starts -->
                <div class="row g-5">

                    <div class="col-xl-12 col-md-12">

                        <div class="form-section p-3 m-3">

                            <!-- User Form Starts -->
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h3>Order Transactions</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <div style="border-radius: .3rem;margin-left: .2rem;margin-top: .4rem;">
                                            <div class="dropdown nav-link nav-tab">
                                                <button class="btn btn-outline-secondary btn-small dropdown-toggle py-1 px-2" type="button" id="currentMonthButton"
                                                    style="background-color: #dedede;color: black;font-weight: bold;font-size: 1rem!important;"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Month
                                                </button>
                                                <ul class="dropdown-menu m-1" aria-labelledby="currentMonthButton">
                                                    <li *ngFor="let monthStart of monthStartList"
                                                        [ngClass]="currentMonthStart==monthStart?'dropdown-select':''"><a (click)="selectMonth(monthStart)" class="dropdown-item"
                                                            style="text-align: center;">{{monthStart|date:'MMMM yy'}}</a></li>
                                                </ul>
                                                <span class="border px-2"
                                                    style="background-color: #dedede;color: black;margin-left: .4rem;border-radius: .3rem;padding-top: .4rem;padding-bottom: .5rem;">{{currentMonthStart|date:'MMMM yy'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="orderTransactions&&orderTransactions.length>0" class="style1"
                                    style="margin-top: 0.5rem;margin-bottom: 2rem;">
                                <div *ngIf="orderTransactions&&orderTransactions.length>0" class="table-responsive">
                                    <table class="table table-bordered th-sm">
                                        <thead
                                            style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                                            <tr>
                                                <th scope="col" class="text-center">Date</th>
                                                <th scope="col" class="text-center">Description</th>
                                                <th scope="col" class="text-center">Mode</th>
                                                <th scope="col" class="text-center">Amount (CA$)</th>
                                                <th scope="col" class="text-center">Invoice</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let transaction of orderTransactions">
                                                <td class="text-center">
                                                    {{transaction.transactionDate|date:'dd-MMM-yyyy'}}</td>
                                                <td class="text-center">{{transaction.description}}</td>
                                                <td class="text-center">{{transaction.mode | uppercase}}</td>
                                                <td class="text-center">{{transaction.total| number : '1.2-2'}}</td>
                                                <td class="text-center"><a class="link" type="button"
                                                        (click)="generatePdf(dateToString(transaction.transactionDate), transaction.invoice)"><i
                                                            class="fa fa-download" aria-hidden="true"></i>
                                                    </a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr class="style1">
                                <div *ngIf="!orderTransactions||orderTransactions.length<=0" class="alert alert-warning text-center" role="alert">
                                    No transactions found.
                                </div>
                            </div>
                            <!-- User Form Ends -->
                        </div>
                    </div>

                </div>
                <!-- Ratings panel ends -->
            </div>
        </div>

        <div *ngIf="showWallet">
            <div class="row g-5">
                <div class="col-xl-12 col-md-12 ">
                    <!-- Ratings panel starts -->
                    <div class="row g-5">

                        <div class="col-xl-12 col-md-12">

                            <div class="form-section p-3 m-3">

                                <!-- User Form Starts -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col d-flex justify-content-between">
                                            <div class="form-group">
                                                <h3><b>Wallet </b></h3>
                                                <h6 *ngIf="paymentAccount&&paymentAccount.balance<=0&&paymentAccount.credits<=0"
                                                    style="color: rgb(209, 51, 51);">
                                                    <b>Low Wallet Balance</b>
                                                </h6>
                                            </div>
                                            <div *ngIf="paymentAccount.credits>0" class="form-group">
                                                <h4 class="px-2" style="background-color: rgb(234, 255, 228);border-radius: .3rem;padding-bottom: .3rem;"><span style="font-size: 1rem!important;font-weight: bold;">Joining Credits: </span><i class="fa-solid fa-dollar-sign" style="color: rgb(85, 85, 85);margin-left: .3rem;margin-right: .1rem;font-size: 1rem!important;font-weight: bold;"></i>
                                                    <span style="font-size: 1rem!important;font-weight: bold;" [ngClass]="paymentAccount.credits<=0?'negative-balance':'positive-balance'">{{findAbsolute(paymentAccount.credits) | number :
                                                        '1.2-2'}}</span> </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="style1">
                                    <div class="row">

                                        <div class="col-xxl-6 col-lg-6 col-12 py-2">
                                            <div class="form-group">
                                                <h4 class="px-2"><label style="margin-right: .2rem;">Balance:</label><span [ngClass]="paymentAccount.balance<=0?'negative-balance':'positive-balance'">{{paymentAccount.balance<0?'-':''}}</span><i class="fa-solid fa-dollar-sign" style="color: rgb(85, 85, 85);margin-left: .3rem;margin-right: .1rem;"></i><span
                                                        [ngClass]="paymentAccount.balance<=0?'negative-balance':'positive-balance'">{{findAbsolute(paymentAccount.balance) | number :
                                                        '1.2-2'}}</span> </h4>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <hr class="style1">
                                            <button class="btn btn-success btn-rounded col-12" type="button"
                                                data-bs-toggle="modal" data-bs-target="#addToWalletModal">
                                                Add Money to Wallet</button>
                                        </div>

                                        <div *ngIf="isProfessional" class="col-12 mt-2">
                                            <button class="btn btn-warning btn-rounded col-12" type="button" (click)="setRedeemFlow(true)"
                                                [disabled]="!(paymentAccount&&paymentAccount.paypalAccount&&paymentAccount.paypalAccount.email&&paymentAccount.paypalAccount.verified&&paymentAccount.balance>=1)"
                                                data-bs-toggle="modal" data-bs-target="#redeemWalletModal">
                                                Redeem Wallet Balance</button>
                                        </div>

                                    </div>
                                </div>
                                <!-- User Form Ends -->
                            </div>
                        </div>

                    </div>
                    <!-- Ratings panel ends -->
                </div>
            </div>

            <div *ngIf="isProfessional" class="row">
                <div class="col-xl-12 col-md-12 ">
                    <!-- Ratings panel starts -->
                    <div class="row">

                        <div class="col-xl-12 col-md-12">

                            <div class="form-section p-3 m-3">

                                <!-- User Form Starts -->
                                <div class="mb-3">
                                    <div class="row py-2 px-1">
                                        <div class="col">
                                            <div class="form-group">
                                                <h3><img width="130rem" src="assets/paypal.png"></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h6 class="small-text" style="font-weight: bold;color: rgb(45, 45, 45);">&bull;
                                        Please link your paypal email.</h6>
                                    <h6 class="small-text" style="font-weight: bold;color: rgb(45, 45, 45);">&bull; You
                                        can directly transfer money from wallet to your paypal email.</h6>
                                    <hr class="style1">
                                    <div class="row">
                                        <div class="col-12">
                                            <div *ngIf="!paymentAccount.paypalAccount.email">
                                                <h6 class="px-1"
                                                    style="font-weight: bold;letter-spacing: .05rem!important;">Email:</h6>
                                                <input type="email" *ngIf="!paymentAccount.paypalAccount.email&&editEmail"
                                                    required [(ngModel)]="inputEmail" class="col-3"
                                                    style="text-align: center;margin-left: 5px;margin-right: 5px;min-width: 12rem;">
                                                <a *ngIf="!paymentAccount.paypalAccount.email&&!editEmail" class="link"
                                                    type="button" (click)="toggleEditEmail()"><i class="fa fa-plus-circle"
                                                        aria-hidden="true"></i>
                                                </a>
                                                <span *ngIf="emailSpinner"><i class="fas fa-spinner fa-pulse"></i></span>
                                                <a *ngIf="!paymentAccount.paypalAccount.email&&editEmail&&!emailSpinner"
                                                    class="primary-success px-1" type="button" (click)="addPaypalEmail()"><i
                                                        class="fa fa-check-circle" aria-hidden="true"></i>
                                                </a>
                                                <span *ngIf="!paymentAccount.paypalAccount.email&&editEmail&&!emailSpinner"
                                                    class="primary-cancel" type="button" (click)="toggleEditEmail()"><i
                                                        class="fa fa-times-circle" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <div *ngIf="paymentAccount.paypalAccount.email"
                                                class="col-xxl-6 col-lg-6 col-12">
                                                <div class="form-group">
                                                    <h6 class="px-1"
                                                        style="font-weight: bold;letter-spacing: .05rem!important;">Email
                                                        <span *ngIf="paymentAccount.paypalAccount.verified"
                                                            style="font-size: 1rem;"><i class="fa fa-ellipsis-v"
                                                                aria-hidden="true" style="color: grey;"></i>
                                                            Verified <i class="fa fa-check-circle" style="color: green;"
                                                                aria-hidden="true"></i>:
                                                        </span>
                                                    </h6>
                                                    <h5>{{paymentAccount.paypalAccount.email}}
    
                                                        <div style="font-size: .1rem!important;margin-top: .6rem;">
                                                            <button *ngIf="!paymentAccount.paypalAccount.verified"
                                                                class="btn btn-small btn-warning btn btn-rounded m-1"
                                                                type="button" data-bs-toggle="modal"
                                                                data-bs-target="#enterOtpModal" (click)="setRedeemFlow(false)">Verify OTP</button>
                                                            <button class="btn btn-small btn-danger btn-rounded m-1"
                                                                type="button" (click)="removePaypalEmail()">Remove</button>
                                                        </div>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- User Form Ends -->
                            </div>
                        </div>
                    </div>
                    <!-- Ratings panel ends -->
                </div>
            </div>

            <div class="row g-5">
                <div class="col-xl-12 col-md-12 ">
                    <!-- Ratings panel starts -->
                    <div class="row g-5">

                        <div class="col-xl-12 col-md-12">

                            <div class="form-section p-3 m-3">

                                <!-- User Form Starts -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h3>Wallet Transactions</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <div style="border-radius: .3rem;margin-left: .2rem;margin-top: .4rem;">
                                                <div class="dropdown nav-link nav-tab">
                                                    <button class="btn btn-outline-secondary btn-small dropdown-toggle py-1 px-2" type="button" id="currentMonthButton"
                                                        style="background-color: #dedede;color: black;font-weight: bold;font-size: 1rem!important;"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        Month
                                                    </button>
                                                    <ul class="dropdown-menu m-1" aria-labelledby="currentMonthButton">
                                                        <li *ngFor="let monthStart of monthStartList"
                                                            [ngClass]="currentMonthStart==monthStart?'dropdown-select':''"><a (click)="selectMonth(monthStart)" class="dropdown-item"
                                                                style="text-align: center;">{{monthStart|date:'MMMM yy'}}</a></li>
                                                    </ul>
                                                    <span class="border px-2"
                                                        style="background-color: #dedede;color: black;margin-left: .4rem;border-radius: .3rem;padding-top: .4rem;padding-bottom: .5rem;">{{currentMonthStart|date:'MMMM yy'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr *ngIf="walletTransactions&&walletTransactions.length>0" class="style1"
                                        style="margin-top: 0.5rem;margin-bottom: 2rem;">
                                    <div *ngIf="walletTransactions&&walletTransactions.length>0"
                                        class="table-responsive">
                                        <table class="table table-bordered th-sm">
                                            <thead
                                                style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                                                <tr>
                                                    <th scope="col" class="text-center">Date</th>
                                                    <th scope="col" class="text-center">Description</th>
                                                    <th scope="col" class="text-center">Amount (CA$)</th>
                                                    <th scope="col" class="text-center">Invoice</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let transaction of walletTransactions">
                                                    <td class="text-center">
                                                        {{transaction.transactionDate|date:'dd-MMM-yyyy'}}</td>
                                                    <td class="text-center">{{transaction.description}}</td>
                                                    <td class="text-center">{{transaction.total| number : '1.2-2'}}
                                                    </td>
                                                    <td class="text-center"><a class="link" type="button"
                                                            (click)="prepareInvoiceForProfessional(dateToString(transaction.transactionDate), transaction.invoice)"><i
                                                                class="fa fa-download" aria-hidden="true"></i>
                                                        </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr class="style1">
                                    <div *ngIf="!walletTransactions||walletTransactions.length<=0" class="alert alert-warning text-center" role="alert">
                                        No transactions found.
                                    </div>
                                </div>
                                <!-- User Form Ends -->
                            </div>
                        </div>

                    </div>
                    <!-- Ratings panel ends -->
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Edit Section Ends  -->

<!-- Modal section begins -->

<div class="modal fade" id="enterOtpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="enterOtpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-enter-otp-modal (OtpValueEvent)="verifyOtp($event)"></app-enter-otp-modal>
        </div>
    </div>
</div>


<!-- addToWalletModal begins  -->
<div *ngIf="paymentAccount&&paymentAccount" class="modal fade" id="addToWalletModal" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="addToWalletModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <app-add-to-wallet [accountBalance]="paymentAccount.balance"
            (addAmountEmmiter)="initiateAddToWallet($event)"></app-add-to-wallet>
    </div>
</div>
<!-- addToWalletModal ends  -->

<!-- redeemWalletModal begins  -->
<div *ngIf="paymentAccount&&paymentAccount&&paymentAccount.paypalAccount&&paymentAccount.paypalAccount.email&&paymentAccount.paypalAccount.verified&&paymentAccount.balance>=1"
    class="modal fade" id="redeemWalletModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="redeemWalletModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <app-redeem-wallet [accountBalance]="paymentAccount.balance"
                (redeemAmountEmmiter)="redeemWalletStart($event)"
                (confirmOtpEmmiter)="redeemWalletConfirmOtp($event)"></app-redeem-wallet>
        </div>
    </div>
</div>
<!-- redeemWalletModal ends  -->

<!-- Modals section ends -->