<nav class="navbar navbar-expand-lg navbar-dark bg-color workan-header">
  <div *ngIf="isAuthenticated" class="container-fluid d-flex justify-content-start g-2">
    <a *ngIf="isFirstLogin" class="navbar-brand"><img style="padding-bottom: 3px;" src="assets/workan.png"></a>
    <div *ngIf="!isFirstLogin" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain" style="padding-right: 0;"><a class="navbar-brand" style="padding-left: 5px;">
      <span class="fa-stack">
        <i style="font-size: x-large;" class="fa-solid fa-bars fa-stack-1x"></i>
      </span>
    </a></div>
    <a *ngIf="!isFirstLogin" class="navbar-brand"><img style="padding-bottom: 3px;padding-top: 3px;" src="assets/workan.png" type="button" routerLink=""></a>

    <div *ngIf="!isFirstLogin" style="margin-left: auto;padding-top: 2px;padding-bottom: 2px;border-radius: 60px;background-color: rgb(43, 43, 43);">
      <span type="button" (click)="getNotificationsForUser()" class="fa-stack" data-bs-toggle="offcanvas" data-bs-target="#notificationSidebar" style="margin-left: auto;">
        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
        <span *ngIf="notificationCount&&parseInt(notificationCount)>0" id="notificationCount" style="top: -20%;" class="fa-stack fa-2x px-3 fa-stack-1x" [attr.data-count]="notificationCount" data-bs-toggle="offcanvas" data-bs-target="#notificationSidebar">
        </span>
      </span>
    </div>

  </div>

  <div *ngIf="!isAuthenticated" class="container-fluid d-flex justify-content-between g-3">
    <a class="navbar-brand"><img style="padding-bottom: 3px;" src="assets/workan.png" type="button" routerLink=""></a>
    <button class="btn btn-primary btn-rounded btn-small" routerLink="/dashboard/profile" style="margin-left: 10px;"
            data-bs-title="Get Best Services" data-bs-toggle="tooltip"><i class="fa fa-user" aria-hidden="true"></i> Login
    </button>
  </div>
</nav>

<!-- Ads bar  -->
<nav *ngIf="isAuthenticated&&!isFirstLogin" class="navbar navbar-expand-lg navbar-dark bg-color workan-header" style="background-color: rgb(36, 36, 36);border-top: 1px solid rgb(30, 30, 30);border-bottom: 1px solid rgb(30, 30, 30);">
  <!-- for customers -->
  <div  *ngIf="!isProfessional" class="container-fluid d-flex justify-content-center text-center">
    <span type="button" routerLink="/dashboard/offersRewards" class="scale-in-center" *ngIf="adNumber==0" style="color: white;">
      <span class="fa-stack" style="font-size: .6rem!important;">
        <i class="fa fa-certificate fa-stack-2x"></i>
        <i class="fa fa-dollar fa-stack-1x fa-inverse" style="color: black!important;"></i>
      </span>
      <span style="font-size: .9rem;"> Complete 5 Orders & get <b>$10</b> OFF !</span>
    </span>
    <span type="button" routerLink="/dashboard/offersRewards" class="scale-in-center" *ngIf="adNumber==1" style="color: white;">
      <span class="fa-stack" style="font-size: .6rem!important;">
        <i class="fa fa-certificate fa-stack-2x"></i>
        <i class="fa fa-dollar fa-stack-1x fa-inverse" style="color: black!important;"></i>
      </span>
      <span style="font-size: .9rem;"> Refer & Get Discounts Upto <b>$20</b> !</span>
    </span>
  </div>
  <!-- for professionals -->
  <div *ngIf="isProfessional" class="container-fluid d-flex justify-content-center text-center">
    <span type="button" routerLink="/dashboard/professionalPayments" class="scale-in-center" *ngIf="adNumber==0" style="color: white;">
      <span class="fa-stack" style="font-size: .6rem!important;">
        <i class="fa fa-certificate fa-stack-2x"></i>
        <i class="fa fa-dollar fa-stack-1x fa-inverse" style="color: black!important;"></i>
      </span>
      <span style="font-size: .9rem;"> Get <b>$10</b> Joining Credits !</span>
    </span>
    <span type="button" routerLink="/dashboard/offersRewards" class="scale-in-center" *ngIf="adNumber==1" style="color: white;">
      <span class="fa-stack" style="font-size: .6rem!important;">
        <i class="fa fa-certificate fa-stack-2x"></i>
        <i class="fa fa-dollar fa-stack-1x fa-inverse" style="color: black!important;"></i>
      </span>
      <span style="font-size: .9rem;"> Add-On Bonus Upto <b>$100</b> Every Month !</span>
    </span>
  </div>
</nav>
<!--EO Ads bar  -->

<app-sidebar (isProfessional)="setProfessional($event)" *ngIf="isAuthenticated"></app-sidebar>
<app-notification-sidebar [unreadCount]="+notificationCount" *ngIf="isAuthenticated" [notifications]="notifications" (readAllEvent)="readAllMessages()" (readMessageEvent)="messageRead()" [showLoader]="showLoader"></app-notification-sidebar>