<nav class="navbar navbar-expand-lg navbar-dark bg-color workan-header">
  <div *ngIf="isAuthenticated" class="container-fluid d-flex justify-content-start g-2">
    <a *ngIf="isFirstLogin" class="navbar-brand"><img style="padding-bottom: 3px;" src="assets/workan.png"></a>
    <div *ngIf="!isFirstLogin" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain" style="padding-right: 0;"><a class="navbar-brand" style="padding-left: 5px;">
      <span class="fa-stack">
        <i style="font-size: x-large;" class="fa-solid fa-bars fa-stack-1x"></i>
      </span>
    </a></div>
    <a *ngIf="!isFirstLogin" class="navbar-brand"><img style="padding-bottom: 3px;padding-top: 3px;" src="assets/workan.png" type="button" routerLink=""></a>

    <div *ngIf="!isFirstLogin" style="margin-left: auto;padding-top: 2px;padding-bottom: 2px;border-radius: 60px;background-color: rgb(43, 43, 43);">
      <span type="button" (click)="getNotificationsForUser()" class="fa-stack" data-bs-toggle="offcanvas" data-bs-target="#notificationSidebar" style="margin-left: auto;">
        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
        <span *ngIf="notificationCount&&parseInt(notificationCount)>0" id="notificationCount" style="top: -20%;" class="fa-stack fa-2x px-3 fa-stack-1x" [attr.data-count]="notificationCount" data-bs-toggle="offcanvas" data-bs-target="#notificationSidebar">
        </span>
      </span>
    </div>

  </div>

  <div *ngIf="!isAuthenticated" class="container-fluid d-flex justify-content-between g-3">
    <a class="navbar-brand"><img style="padding-bottom: 3px;" src="assets/workan.png" type="button" routerLink=""></a>
    <button class="btn btn-primary btn-rounded btn-small" routerLink="/listings" style="margin-left: 10px;"
            data-bs-title="Get Best Services" data-bs-toggle="tooltip">Dashboard / Login
    </button>
  </div>
</nav>

<app-sidebar *ngIf="isAuthenticated"></app-sidebar>
<app-notification-sidebar *ngIf="isAuthenticated" [notifications]="notifications" (readMessageEvent)="messageRead()" [showLoader]="showLoader"></app-notification-sidebar>