<nav class="navbar navbar-expand-lg navbar-dark bg-color workan-header">
  <div class="container-fluid d-flex justify-content-start">
    <a *ngIf="isFirstLogin" class="navbar-brand"><img style="padding-bottom: 3px;" src="assets/workan.png"></a>
    <div  type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain"><a *ngIf="!isFirstLogin" class="navbar-brand p-2"><i style="font-size: x-large;" class="fa-solid fa-bars"></i></a></div>
    <a *ngIf="!isFirstLogin" class="navbar-brand"><img style="padding-bottom: 3px;" src="assets/workan.png" type="button" routerLink="/listings"></a>
  </div>
</nav>

<app-sidebar></app-sidebar>