<!-- Edit Photo Modal -->
<div class="modal fade" id="viewPhotoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="viewPhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewPhotoModalLabel">Portfolio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="container">
          <img *ngIf="image" alt="GIF Image" class="img-fluid" [src]="'data:image/png;base64,'+image" width="100%">
        </section>
      </div>

      <div class="modal-footer">
        <div class="container text-center">
          <div class="row" style="font-size: x-large;">
            <div class="col-2">
              <label class="col-12"><button style="border: none;background-color: white;" [disabled]="!prevbtn" (click)="previous()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
              </label>
            </div>
            <div class="col-8">
              <label class="col-12"><i type="button" class="fa-solid fa-solid fa-trash" (click)="remove()" data-bs-dismiss="modal"></i>
              </label>
            </div>
            <div class="col-2">
              <label class="col-12"><button style="border: none;background-color: white;" [disabled]="!nextbtn" (click)="next()"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Edit Photo Modal Ends -->