<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="writeReviewModalLabel">Confirm Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <!-- step1 modal body start  -->
    <div class="modal-body">
        <div class="container">

            <div class="col-lg-12 py-2">
                <h4><b>Payment Summary</b></h4>
            </div>
            <div class="col-lg-12 d-flex justify-content-between">
                <h5>Professional Fees:</h5>
                <h5>${{amount| number : '1.2-2'}}</h5>
            </div>
            <div class="col-lg-12 d-flex justify-content-between">
                <h5>Discount:</h5>
                <h5>- ${{amount| number : '1.2-2'}}</h5>
            </div>
            <div class="col-lg-12 d-flex justify-content-between">
                <h5>Account Balance:</h5>
                <h5>- ${{amount| number : '1.2-2'}}</h5>
            </div>
            <hr class="style1">
            <div class="col-lg-12 d-flex justify-content-between">
                <h4 style="color: brown;"><b>Total (CAD):</b></h4>
                <h5><i class="fa-solid fa-dollar-sign" style="color: green;"></i>{{amount | number : '1.2-2'}}</h5>
            </div>
            <hr class="style1">
            <div class="col-lg-12 py-2">
                <div *ngIf="!selectedPaymentMode||selectedPaymentMode&&selectedPaymentMode=='direct'"
                    class="form-check">
                    <input class="form-check-input" type="radio" value="" id="payMethodDirect" value="direct"
                        [(ngModel)]="paymentMode">
                    <label class="form-check-label" for="payMethodDirect" type="button">
                        Pay directly to the Professional
                    </label>
                </div>

                <div *ngIf="!selectedPaymentMode||selectedPaymentMode&&selectedPaymentMode=='paypal'"
                    class="form-check">
                    <input class="form-check-input" type="radio" value="" id="payMethodPaypal" value="paypal"
                        [(ngModel)]="paymentMode">
                    <label class="form-check-label" for="payMethodPaypal" type="button">
                        Pay Using <img alt="GIF Image" class="img-fluid" src="assets/paypal.png" width="20%">
                    </label>
                </div>
            </div>
            <div class="col-lg-12" style="padding-top: 22px;">
                <div *ngIf="paymentOtp" class="col-lg-12 d-flex justify-content-between">
                    <h5><b>OTP</b></h5>
                    <h4><b>123456</b></h4>
                </div>
            </div>
            <label *ngIf="paymentOtp" class="form-check-label" for="payMethodDirect"><br>
                ** Provide this otp to professional after completing direct payment.
            </label>
            <div class="d-flex justify-content-end py-3">
                <button type="button" class="btn btn-warning btn-rounded col-12" (click)="makePayment()">
                    <span *ngIf="!checkoutClicked">Continue to checkout</span>
                    <i *ngIf="checkoutClicked" class="fas fa-circle-notch fa-spin"></i>
                </button>
            </div>

        </div>
    </div>
    <!-- step1 modal body ends  -->

</div>