<div class="content-box">
  <nav class="nav navbar ms-auto nav-underline navbar-dark bg-color">
    <i class="nav-link-custom nav-link fa fa-arrow-left" (click)="navigateBack()" type="button"></i>
  </nav>


  <!-- main section starts  -->

  <section class="common-section business-section" id="online_services">

    <div class="container">
      <!-- <h1>Profile</h1> -->
      <div *ngIf="professional" class="row g-5">
        <div class="col-xl-12 col-md-12 ">
          <!-- dashboard-profile-form panel starts -->
          <div class="row g-5">

            <!-- user profile starts  -->

            <div class="col-xl-6 col-md-6">

              <div class="form-section p-3 m-3">

                <form>

                  <div *ngIf="professional" class="mb-3">

                    <!-- display profile and name  -->
                    <div class="row">
                      <div class="col-xl-4 xol-lg-4 col-md-12 col-12 img-section py-2">
                        <img *ngIf="!listing.professional.profilePhoto" alt="..." class="img-fluid" width="90%"
                          src="assets/profile.png">
                        <img *ngIf="listing.professional.profilePhoto" alt="..." class="img-fluid profile-photo"
                          width="90%" [src]="'data:image/png;base64,'+listing.professional.profilePhoto.picByte">
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <h4>{{professional.firstName}} {{professional.lastName}}</h4>
                          <h6 *ngIf="listing" style="padding-left: .26rem!important;"><b><i
                                class="fa-solid fa-dollar-sign" style="color: green;"></i> {{listing.charges | number :
                              '1.2-2'}}</b>
                            ({{listing.chargesType}})</h6>
                          <h6><i class="fa fa-star rating-color"></i> {{professional.rating | number : '1.1-1'}}</h6>
                          <h6>
                            <div class="svg-container">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="50" height="50" viewBox="0 0 256 256" xml:space="preserve" style="margin-right: 2px;">
                                <defs>
                                </defs>
                                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                                  transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                                  <path
                                    d="M 44.759 63.847 L 56.954 90 l 9.909 -9.079 l 13.325 -1.755 L 68.323 53.721 c -9.609 -0.082 -17.439 3.046 -23.082 10.126"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(237,99,98); fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                  <path
                                    d="M 45.241 63.847 L 33.046 90 l -9.909 -9.079 L 9.812 79.166 l 11.865 -25.445 C 33.52 52.826 41.539 56.026 45.241 63.847 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(233,84,84); fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                  <path
                                    d="M 45 63.847 c 17.631 0 31.923 -14.293 31.923 -31.923 S 62.631 0 45 0 C 34.483 21.782 33.645 43.104 45 63.847 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,204,91); fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                  <path
                                    d="M 45 63.847 c -17.631 0 -31.923 -14.293 -31.923 -31.923 S 27.369 0 45 0 v 63.814"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(253,188,75); fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                  <path
                                    d="M 38.778 54.411 c -0.092 0 -0.186 -0.013 -0.279 -0.039 C 26.122 50.786 18.967 37.8 22.552 25.422 c 0.153 -0.531 0.707 -0.836 1.239 -0.682 c 0.53 0.153 0.836 0.708 0.682 1.239 c -3.277 11.318 3.264 23.193 14.583 26.471 c 0.53 0.154 0.836 0.709 0.682 1.239 C 39.611 54.127 39.211 54.411 38.778 54.411 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(236,153,34); fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                  <path
                                    d="M 66.487 39.146 c -0.092 0 -0.186 -0.013 -0.278 -0.04 c -0.53 -0.154 -0.836 -0.708 -0.683 -1.239 c 1.589 -5.483 0.946 -11.256 -1.808 -16.256 c -2.755 -5 -7.291 -8.628 -12.774 -10.216 c -0.53 -0.153 -0.836 -0.708 -0.683 -1.239 c 0.154 -0.53 0.708 -0.835 1.239 -0.682 c 5.996 1.736 10.957 5.704 13.969 11.172 c 3.013 5.468 3.715 11.781 1.979 17.777 C 67.321 38.862 66.922 39.146 66.487 39.146 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(236,153,34); fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                  <path
                                    d="M 53.093 44.529 c -0.159 0 -0.319 -0.038 -0.465 -0.115 L 45 40.405 l -7.627 4.01 c -0.337 0.177 -0.744 0.147 -1.053 -0.076 c -0.308 -0.224 -0.462 -0.603 -0.398 -0.978 l 1.457 -8.493 l -6.17 -6.015 c -0.272 -0.266 -0.371 -0.664 -0.253 -1.025 s 0.431 -0.626 0.808 -0.681 l 8.527 -1.239 l 3.813 -7.727 c 0.168 -0.341 0.516 -0.558 0.897 -0.558 l 0 0 c 0.381 0 0.729 0.216 0.897 0.558 l 3.813 7.727 l 8.527 1.239 c 0.377 0.055 0.689 0.319 0.808 0.681 c 0.117 0.362 0.02 0.759 -0.253 1.025 l -6.171 6.015 l 1.457 8.493 c 0.064 0.375 -0.09 0.754 -0.397 0.978 C 53.507 44.465 53.3 44.529 53.093 44.529 z"
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(236,153,34); fill-rule: nonzero; opacity: 1;"
                                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                              </svg>
                              <span *ngIf="(listing.professional.certifications|certificate).length<=0"
                                style="font-size: .9rem;color: rgb(113, 113, 113);"> N/A</span>
                              <span *ngFor="let cert of listing.professional.certifications|certificate; let i=index"
                                style="font-size: .89rem;"><a *ngIf="i!=0"
                                  style="margin-right: 1px;color: rgb(191, 191, 191);">|</a>{{cert.name}}</span>
                            </div>
                          </h6>
                          <span *ngIf="timezoneOffset!=listing.timezoneOffset" class="primary-cancel"
                            style="font-size: .8rem;font-weight: bold;letter-spacing:.7px">The listing is in different
                            timezone<br></span>
                          <span *ngIf="timezoneOffset==listing.timezoneOffset"
                            style="font-size: .8rem;color: rgb(54, 54, 54);font-weight: bold;letter-spacing:.7px">The
                            professional is located {{listingDistance | number : '1.1-1'}}km away from you.<br></span>
                          <span *ngIf="timezoneOffset==listing.timezoneOffset&&listingDistance>DISTANT_LOCATION"
                            class="primary-cancel" style="font-size: .8rem;font-weight: bold;letter-spacing:.7px">The
                            listing is at a distant location!<br></span>
                        </div>
                      </div>
                    </div>
                    <hr class="style1">
                    <!-- User Form Starts -->
                    <div *ngIf="listing" class="row">

                      <div class="col-12">
                        <div class="form-group">
                          <label>Speciality</label>
                          <h5> {{listing.subCategory.subCategoryName}}</h5>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label>Location</label>
                          <h5> {{listing.location}}</h5>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label>Experience</label>
                          <h5> {{listing.experience>5?'> 5':listing.experience}} Years</h5>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label>Speaks</label>
                          <h5>{{professional.languages.join(', ')}}</h5>
                        </div>
                      </div>
                      <hr class="style1">

                      <div class="col-12">
                        <button *ngIf="timezoneOffset==listing.timezoneOffset&&listingDistance<=DISTANT_LOCATION"
                          class="btn btn-danger btn-rounded col-12" type="button" data-bs-toggle="modal"
                          data-bs-target="#slotSelectorModal">Book A Slot</button>
                        <button *ngIf="timezoneOffset!=listing.timezoneOffset||listingDistance>DISTANT_LOCATION"
                          class="btn btn-danger btn-rounded col-12" type="button" (click)="bookError()">Book A
                          Slot</button>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- User Form Ends -->
              </div>
            </div>

            <!-- user profile ends  -->



            <!-- review section starts  -->
            <div class="col-xl-6 col-md-6">
              <!-- Ratings panel starts -->
              <div class="row g-2">
                <div class="col-12 border reviews-card" style="background-color: white;">
                  <!-- Rating card start -->
                  <div class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="review-count">Rating</h2>
                      <h2 class="review-count">Total Reviews</h2>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="review-count"><i class="fa fa-star rating-color"
                          style="font-size: 1.3rem!important;"></i> {{professional.rating | number : '1.1-1'}}</h4>
                      <h4 class="review-count">{{reviews.length}}</h4>
                    </div>

                    <div class="mt-3 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                      </div>
                      <h5 class="review-stat">{{professional.fiveRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                      </div>
                      <h5 class="review-stat">{{professional.fourRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                      </div>
                      <h5 class="review-stat">{{professional.threeRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                      </div>
                      <h5 class="review-stat">{{professional.twoRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                      </div>
                      <h5 class="review-stat">{{professional.oneRating/totalRatings*100}}%</h5>
                    </div>

                  </div>
                  <!-- Rating card end -->
                </div>
                <!-- Ratings end -->

                <!-- start of card section (to be iterated over reviews)  -->
                <div *ngFor="let review of reviews" class="col-12 py-2">
                  <div class="card shadow p-3">
                    <div class="row">
                      <div class="col-xl-4 xol-lg-4 col-md-12 col-12 img-section">
                        <img alt="..." class="img-fluid" width="50%" src="assets/profile.png">
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <h4>{{review.customer}}</h4>
                        </div>
                      </div>
                    </div>
                    <div class="row ">
                      <div class="ratings">
                        <i *ngFor="let e of [].constructor(review.rating);" class="fa fa-star rating-color"></i>
                      </div>
                      <p>{{review.content}}</p>
                    </div>
                  </div>
                </div>
                <!-- end of card section (to be iterated over reviews) -->

              </div>
              <!-- Ratings panel ends -->


            </div>
            <!-- review section ends  -->
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- main section ends  -->



  <!-- Modal section begins -->

  <!-- Slot Selector Modal -->
  <div *ngIf="listing" class="modal fade" id="slotSelectorModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="slotSelectorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <app-slot-selector [listingId]="listing.id"></app-slot-selector>
    </div>
  </div>
  <!-- Slot Selector Modal Ends -->


  <!-- Modals section ends -->