<div class="content-box">
  <nav class="nav navbar ms-auto nav-underline navbar-dark bg-color">
    <i class="nav-link-custom nav-link fa fa-arrow-left" (click)="navigateBack()" type="button"></i>
  </nav>


  <!-- main section starts  -->

  <section class="common-section business-section" id="online_services">

    <div class="container">
      <!-- <h1>Profile</h1> -->
      <div class="row g-5">
        <div class="col-xl-12 col-md-12 ">
          <!-- dashboard-profile-form panel starts -->
          <div class="row g-5">

            <!-- user profile starts  -->

            <div class="col-xl-6 col-md-6">

              <div class="form-section p-3 m-3">

                <form>

                  <div *ngIf="professional" class="mb-3">

                    <!-- display profile and name  -->
                    <div class="row">
                      <div class="col-xl-4 xol-lg-4 col-md-12 col-12 img-section">
                        <img alt="Profile Image" class="img-fluid" width="70%" src="assets/profile.png">
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <h4>{{professional.firstName}} {{professional.lastName}}</h4>
                          <h6 *ngIf="listing"><i class="fa-solid fa-dollar-sign"></i> {{listing.charges}} CAD
                            ({{listing.chargesType}})</h6>
                          <h6><i class="fa fa-star rating-color"></i> 0.0</h6>
                        </div>
                      </div>
                    </div>
                    <hr class="style1">
                    <!-- User Form Starts -->
                    <div *ngIf="listing" class="row">
                      <div class="col-12">
                        <div class="form-group">
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label for="firstName">Speciality</label>
                          <h5> {{listing.subCategory.subCategoryName}}</h5>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label for="firstName">City</label>
                          <h5> {{listing.location}}</h5>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label for="firstName">Experience</label>
                          <h5> {{listing.experience}} Years</h5>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <label for="firstName">Speaks</label>
                          <h5>{{professional.languages.join(', ')}}</h5>
                        </div>
                      </div>
                      <hr class="style1">

                      <div class="col-12">
                        <button class="btn btn-danger btn-rounded col-12" type="button" data-bs-toggle="modal"
                          data-bs-target="#slotSelectorModal">Book A Slot</button>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- User Form Ends -->
              </div>
            </div>

            <!-- user profile ends  -->



            <!-- review section starts  -->
            <div class="col-xl-6 col-md-6" style="max-height: 900px;overflow-y: scroll;">
              <!-- Ratings panel starts -->
              <div class="row g-2">
                <div class="col-12 border reviews-card" style="background-color: white;">
                  <!-- Rating card start -->
                  <div class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                      <h2 class="review-count">Total Reviews</h2>
                      <h2 class="review-count">Rating</h2>

                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="review-count">102</h4>
                      <h4 class="review-count">4.2</h4>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <h5 class="review-stat">25%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="far fa-star"></i>
                      </div>
                      <h5 class="review-stat">25%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star"></i>
                      </div>
                      <h5 class="review-stat">25%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star"></i>
                      </div>
                      <h5 class="review-stat">25%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star"></i>
                      </div>
                      <h5 class="review-stat">25%</h5>
                    </div>

                  </div>
                  <!-- Rating card end -->
                </div>
                <!-- Ratings end -->

                <!-- start of card section (to be iterated over reviews)  -->
                <div class="col-12">
                  <div class="card shadow p-3">
                    <div class="row">
                      <div class="col-xl-4 xol-lg-4 col-md-12 col-12 img-section">
                        <img alt="Profile Image" class="img-fluid" width="50%" src="assets/profile.png">
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <h4> Vaibhav Agochiya</h4>
                        </div>
                      </div>
                    </div>
                    <div class="row ">
                      <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star rating-color"></i>
                        <i class="far fa-star"></i>
                      </div>
                      <p>Publish valuable and optimized content on your website's blog. Attract organic traffic,
                        position your brand as an authority, and encourage visitors to engage and make a
                        purchase. </p>
                    </div>
                  </div>
                </div>
                <!-- end of card section (to be iterated over reviews) -->

              </div>
              <!-- Ratings panel ends -->


            </div>
            <!-- review section ends  -->
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- main section ends  -->



  <!-- Modal section begins -->

  <!-- Slot Selector Modal -->
  <div *ngIf="listing" class="modal fade" id="slotSelectorModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="slotSelectorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <app-slot-selector [listingId]="listing.id"></app-slot-selector>
    </div>
  </div>
  <!-- Slot Selector Modal Ends -->


  <!-- Modals section ends -->