<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="writeReviewModalLabel">Write Review</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <!-- step1 modal body start  -->
    <div class="modal-body">
      <div *ngIf="professional" class="container">

        <div class="col-lg-12">
          <h5>{{professional.firstName}} {{professional.lastName}}</h5>
        </div>
        <div class="col-lg-12">
          <div class="ratings" style="font-size: x-large;">
            <i *ngFor="let e of [].constructor(5); let i = index" type="button" (click)="setRating(i+1)"
            class="far fa-star rating" [ngClass]="[i>rating-1?'empty-rating':'']"
            style="padding-right: 10px;"></i>
          </div>
        </div>
        <div class="col-12" style="padding-top: 20px;">
          <div class="form-group">
            <label>Review</label>
            <textarea required [(ngModel)]="content"
                minlength="10" maxlength="100" rows="5"
                type="text" class="form-control" autocomplete="off"></textarea>
        </div>
          <hr class="style1">
        </div>
        <div class="col-lg-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="isAnonymous">
            <label class="form-check-label" for="flexCheckDefault">
              Submit as anonymous
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-end py-3">
          <button type="button" class="btn btn-danger btn-rounded col-12"
            data-bs-dismiss="modal" aria-label="Close" (click)="submitReview()">Submit</button>
        </div>

      </div>
    </div>
    <!-- step1 modal body ends  -->
  
  </div>