<!-- filter modal starts -->
<div class="modal fade" id="filterModalPopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="filterModalPopupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalPopupLabel">Filters</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <section class="container">
                <div class="form-section">

                    <!-- Filter Form Starts -->
                    <form #editProfile="ngForm">
                        <div class="mb-3">
                            <div class="row">
            
                                <div class="col">
                                    <div class="form-group">
                                        <label>Specialization</label>
                                    </div>
                                    <div class="input-group mb-3 dropdown">
                                        <input type="text" class="form-control" ngModel name="user.gender" readonly>
                                        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                                        Select
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                          </ul>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
            
                                <div class="col">
                                    <div class="form-group">
                                        <label>Location</label>
                                    </div>
                                    <div class="input-group mb-3 dropdown">
                                        <input type="text" class="form-control" ngModel name="user.gender" readonly>
                                        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                                        Select
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                          </ul>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
            
                                <div class="col">
                                    <div class="form-group">
                                        <label>Sort By</label>
                                    </div>
                                    <div class="input-group mb-3 dropdown">
                                        <input type="text" class="form-control" ngModel name="user.gender" readonly>
                                        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                                        Select
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" >Male</a></li>
                                            <li><a class="dropdown-item" >Female</a></li>
                                          </ul>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        
                    </form>
                    <!-- Filter Form Ends -->
                </div>
            </section>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" routerLink="/listings">Clear</button>
          <button type="button" class="btn btn-danger btn-sm">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- filter modal ends -->