<!--hero section-->

<section class="bg-main bg-color more-info-section">
  <div class="container">
    <div class="row mb-5 ">

      <div
        class="d-flex flex-column align-items-start justify-content-center col-xl-12 xol-lg-6 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white" style="font-size: 3rem;">
          High Quality Professionals At Your Doorstep
        </h1>
        <p class="mt-3 mb-5 w-100 para-width" style="color: white;font-size: large;font-size: 1.2rem;">
          We offer a freelancing platform where experts across different
          can directly offer their services by posting ads. <br>Customers can choose and reserve slots in accordance
          with
          their demands.
        </p>

      </div>

    </div>

  </div>
  <div class="custom-shape-divider-bottom-1691897366">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<!--hero section end -->


<!--service section-->

<section class="common-section pt-5" style="background-color: white;">
  <div class="container text-center common-title  ">
    <h2 class="common-heading">Home services at your doorstep</h2>
    <hr class="w-50 mx-auto">
  </div>


  <div class="container">
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 48rem;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/login.png" style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">1. Login to your account</h2>
                    <!-- <p class="card-text text-start">Some quick example text to build on the card title and
                      make
                      up
                      the bulk of the card's content.</p> -->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 48rem;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/complete_form.png" style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">2. Create a customer account and update personal details</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 48rem;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/select_professional.png" style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">3. Go to listings and select a professional</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


</section>

<!--service section-->

<section class="more-info-section bg-color">

  <section class="container ">
    <div class="row">

      <div
        class="d-flex flex-column align-items-start justify-content-center col-xl-12 xol-lg-6 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white" style="font-size: 3rem;">
          Apply As Professional And Start Earning
        </h1>
        <p class="mt-3 mb-5 w-100 para-width" style="color: white;">
          Register and create a professional account.<br>
          Complete your details and create a listing as per your speciality.
        </p>

      </div>
    </div>
  </section>
</section>

<section class="common-section pt-5" style="background-color: white;">
  <div class="container text-center common-title  ">
    <h2 class="common-heading">Register as a professional and start earning!</h2>
    <hr class="w-50 mx-auto">
  </div>

  <div class="container">
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card p-3 no-hover" style="width: 48rem; ">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top" src="assets/register_professional.png" style="width: 40%;border-radius: 30%;">
                    <h2 style="color: white;">1. Register as a professional</h2>
                    <p class="card-text text-start">Some quick example text to build on the card title and
                      make
                      up
                      the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card p-3 no-hover" style="width: 48rem; ">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top" src="assets/profile.png" style="width: 40%">
                    <h2 style="color: white;">2. Update your profile and contact details</h2>
                    <p class="card-text text-start">Some quick example text to build on the card title and
                      make
                      up
                      the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card p-3 no-hover" style="width: 48rem; ">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top" src="assets/profile.png" style="width: 40%">
                    <h2 style="color: white;">3. Go to listings and select a professional</h2>
                    <p class="card-text text-start">Some quick example text to build on the card title and
                      make
                      up
                      the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


</section>


<!--testimonial section -->
<section class="common-section mb-5 pt-5 bg-color">
  <div class="container text-center common-title  ">
    <h2 class="common-heading text-white">What Client Say<br>About Us</h2>
    <hr class="w-25 mx-auto">
  </div>


  <div class="container">
    <div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators">
      <div class="carousel-indicators">
        <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
          data-bs-target="#carouselExampleIndicators" type="button"></button>
        <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
          type="button"></button>
        <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators"
          type="button"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-4">
            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem; ">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3 ">Angelina Thapa</p>
                    <p class="card-text ">Some quick example text to build on the card title and
                      make
                      up
                      the bulk of the card's content.</p>
                    <div class=" mt-3 d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class=" mt-3 d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class=" mt-3 d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class=" mt-3 d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class=" mt-3 d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class=" mt-3 d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class=" mt-3 d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class="d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card  p-3" style="width: 18rem;">
                  <img alt="..." class="card-img-top" src="assets/profile.png">
                  <div class="card-body text-center">
                    <p class="card-title  mb-3">Angelina Thapa</p>
                    <p class="card-text">Some quick example text to build on the card title and make
                      up
                      the bulk of the card's content.</p>
                    <div class="d-flex justify-content-center">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
        type="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
        type="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


</section>
<!--testimonail section ends-->