<!--hero section-->

<section class="bg-main bg-color more-info-section">
  <div class="container" style="padding-bottom: 2rem;">
    <div class="row">
      <div class="d-flex flex-column align-items-start justify-content-center text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white" style="font-size: 3rem;">
          High Quality Professionals <br>At Your Doorstep
        </h1>
        <p class="mt-3 w-100 para-width" style="color: white;font-size: large;font-size: 1.2rem;">
          Select from a diverse range of services like home cleaning, furniture assembly,<br>beauty treatment and others, right from the comfort of your home.
          <br>Pick the perfect freelance professional tailored to your specific needs.
          <br><br>
          <span type="button" (click)="displayDemo()">
            <button class="btn btn-outline-light btn-rounded no-hover m-1">Explore Services</button>
          </span>
        </p>
      </div>

    </div>

  </div>
  <div class="custom-shape-divider-bottom-1691897366" style="position: relative;">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<!--hero section end -->


<!--service section-->

<section class="common-section" style="background-color: white;padding-top: 5rem;">
  <div class="container text-center common-title  ">
    <h2 class="common-heading" style="letter-spacing: 0.4rem!important;">WORKAN FOR CUSTOMERS</h2>
    <hr class="w-25 mx-auto">
  </div>


  <div class="container text-center">
    <video class="border" controls>
      <source src="assets/customer.mp4#t=0.001" type="video/mp4">
      Your browser does not support the video.
  </video>
  </div>


</section>

<!--service section-->

<section class="more-info-section bg-color bg-sec">

  <section class="container " style="padding-bottom: 2rem;">
    <div class="row">
      <div class="d-flex flex-column align-items-start justify-content-center text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white" style="font-size: 3rem;">
          Apply As A Professional And Start Earning
        </h1>
        <p class="mt-3 w-100 para-width" style="color: white;font-size: large;font-size: 1.2rem;">
          Register and create a professional account.<br>
          Complete your details and create a listing as per your speciality.
        </p>
      </div>
    </div>
  </section>
  <div class="custom-shape-divider-bottom-1691897366" style="position: relative;">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<!--service section-->

<section class="common-section" style="background-color: white;padding-top: 7rem;">
  <div class="container text-center common-title  ">
    <h2 class="common-heading" style="letter-spacing: 0.4rem!important;">WORKAN FOR PROFESSIONALS</h2>
    <hr class="w-25 mx-auto">
  </div>


  <div class="container text-center">
    <video class="border" controls>
      <source src="assets/professional.mp4#t=0.001" type="video/mp4">
      Your browser does not support the video.
  </video>
  </div>


</section>

<!--service section-->

<!--testimonial section -->
<section class="common-section pt-5 bg-color" style="margin-bottom: 0!important;padding-bottom: 2rem!important;">
  <div class="container text-center common-title mb-3">
    <h2 class="common-heading text-white">About Us</h2>
  </div>
  <div class="container text-center">
    <p class="p-1" style="color: white;font-size: 1.2;letter-spacing: 0.05rem;margin-bottom: 0!important;padding-bottom: 0!important;">
      Workan is a comprehensive tech platform offering a wide range of home services, including beauty treatments, cleaning, plumbing, and more, delivered directly to the customers' doorstep. The platform connects freelance professionals to customers by enabling them to post listings. Allowing the customers to choose suitable experts and book appointments. Workan aims to streamline access to high-quality services while enhancing the convenience of home-based solutions, serving as a seamless bridge between seekers and skilled professionals.
    </p>
  </div>
  


</section>
<!--testimonail section ends-->