<!--hero section-->

<section class="bg-main bg-color more-info-section">
  <div class="container">
    <div class="row mb-5">
      <div class="d-flex flex-column align-items-start justify-content-center text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white" style="font-size: 3rem;">
          High Quality Professionals <br>At Your Doorstep
        </h1>
        <p class="mt-3 mb-5 w-100 para-width" style="color: white;font-size: large;font-size: 1.2rem;">
          Select from a diverse range of services right from the comfort of your home.
          <br>Pick the perfect freelance professional tailored to your specific needs.
          <br><br>
          <span type="button" routerLink="/listings">
            <button class="btn btn-outline-light btn-rounded no-hover m-1">Home Cleaning</button>
            <button class="btn btn-outline-light btn-rounded no-hover m-1">Plumbing</button>
            <button class="btn btn-outline-light btn-rounded no-hover m-1">Furniture Assembly</button>
            <button class="btn btn-outline-light btn-rounded no-hover m-1">Beauty Treatment</button>
            <button class="btn btn-outline-light btn-rounded no-hover m-1">Others</button>
          </span>
        </p>
      </div>

    </div>

  </div>
  <div class="custom-shape-divider-bottom-1691897366">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<!--hero section end -->


<!--service section-->

<section class="common-section" style="background-color: white;padding-top: 5rem;">
  <div class="container text-center common-title  ">
    <h2 class="common-heading" style="letter-spacing: 0.4rem!important;">HOW IT WORKS</h2>
    <hr class="w-25 mx-auto">
  </div>


  <div class="container">
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40rem;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/login.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">1. Login to your account.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/complete_form.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">2. Create a customer account and update personal details.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/select_professional.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">3. Go to listings and select a professional as per your requirement.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/book_slot.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">4. Book a time slot and place order.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/professional_arrive.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">5. Professional will arrive at your home and start the service.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/order_complete.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">6. Use the platform to complete the order.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/give_rating.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">7. Rate the professional as per your experience.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
        type="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
        type="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


</section>

<!--service section-->

<section class="more-info-section bg-color bg-sec">

  <section class="container ">
    <div class="row">
      <div class="d-flex flex-column align-items-start justify-content-center text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white" style="font-size: 3rem;">
          Apply As Professional And Start Earning
        </h1>
        <p class="mt-3 mb-5 w-100 para-width" style="color: white;font-size: large;font-size: 1.2rem;">
          Register and create a professional account.<br>
          Complete your details and create a listing as per your speciality.
        </p>
      </div>
    </div>
  </section>
  <div class="custom-shape-divider-bottom-1691897366">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
    </svg>
  </div>
</section>

<!--service section-->

<section class="common-section" style="background-color: white;padding-top: 7rem;">
  <div class="container text-center common-title  ">
    <h2 class="common-heading" style="letter-spacing: 0.4rem!important;">Register as a professional and start earning!</h2>
    <hr class="w-25 mx-auto">
  </div>


  <div class="container">
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators2">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40rem;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/register_professional.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">1. Login and create a professional account.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/complete_form.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">2. Update your personal details.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/select_professional.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">3. Create a listing for your specialization.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/book_slot.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">4. Create time slots for each day of the week as per your availability.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/notification.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">5. You will be notified when you receive an order.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/reach_customer.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">5. Reach the customer and provide the service.</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/order_complete.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">6. Complete the order.</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-4">
            <div class="col-12">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card no-hover" style="width: 40em;padding: 3rem;">
                  <div class="card-body text-center">
                    <img alt="..." class="card-img-top py-3" src="assets/rise_professional.png"
                      style="width: 60%;border-radius: 30%;">
                    <h2 style="color: white;">6. Stand out in the competition by attaining high ratings.</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators2"
        type="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators2"
        type="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


</section>

<!--service section-->

<!--testimonial section -->
<section class="common-section pt-5 bg-color">
  <div class="container text-center common-title  ">
    <h2 class="common-heading text-white">About Us</h2>
  </div>
  <div class="container text-center">
    <p class="p-1 m-5" style="color: white;font-size: 1.2;letter-spacing: 0.05rem;">
      Workan is an expansive tech platform that brings a myriad of home services within easy reach. Embracing convenience,
      our customers leverage the platform to schedule an array of services spanning beauty treatments, haircuts, massage
      therapy, cleaning, plumbing, carpentry, appliance repair, painting, and more. What sets us apart is the delivery of
      these services directly to the customer's doorstep, all at a time that suits their schedule.
      <br><br>
      The backbone of Workan lies in its network of freelance professionals, each specializing in their respective fields.
      These professionals join our platform, crafting detailed listings showcasing their expertise. This unique setup
      empowers customers to peruse and handpick the perfect professional to meet their specific needs, leveraging the
      platform's intuitive filters for seamless selection.
      <br><br>
      In essence, Workan serves as a bridge connecting seekers of diverse home services with skilled professionals,
      ensuring that quality and suitability align effortlessly. Our commitment remains rooted in simplifying the process
      of accessing top-notch services while enhancing the overall experience of home-based convenience.
    </p>
  </div>
  


</section>
<!--testimonail section ends-->