.carousel-control-prev {
    left: 10%;
    border-radius: 50%;
    margin-top: 12rem;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0);
}

.carousel-control-next {
    right: 10%;
    border-radius: 50%;
    margin-top: 12rem;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0);
}

video {
    width: 82%;
    max-height: 82%;
    border-radius: 15px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    border-color: black;
    border-width: 5px;
    /* box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07); */
}