<!--Divider section-->

<section class="bg-color py-2">
    <section class="container">
        <div class="row">

            <div
                class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
                <h1 class=" text-capitalize fw-bolder text-white">
                    Manage Listing
                </h1>
                <button routerLink="/viewMyListing" class="btn btn-primary btn-small btn-rounded m-1"
                    [disabled]="!currentListing">View Listing</button>
            </div>
        </div>
    </section>
</section>


<!--Divider section end -->

<ul class="nav nav-pills px-3 py-1 bg-color justify-content-end">
    <li class="nav-item m-1">
        <a style="font-size: 1.1rem!important; padding-top: .2rem;padding-bottom: .2rem;" type="button" class="nav-link px-2" [ngClass]="menuItem==0?'active':''" (click)="setMenu(0)">Listing Details</a>
    </li>
    <li class="nav-item m-1">
        <a style="font-size: 1.1rem!important; padding-top: .2rem;padding-bottom: .2rem;" type="button" class="nav-link px-2" [ngClass]="[menuItem==1?'active':'', currentListing&&currentListing.id>0?'':'disabled disabled-menu']" (click)="setMenu(1)">My Documents</a>
    </li>
    <li class="nav-item m-1">
        <a style="font-size: 1.1rem!important; padding-top: .2rem;padding-bottom: .2rem;" type="button" class="nav-link px-2" [ngClass]="[menuItem==2?'active':'', currentListing&&currentListing.id>0?'':'disabled disabled-menu']" (click)="setMenu(2)">Time Scheduling</a>
    </li>
</ul>

<!--Divider section end -->

<!-- Edit Section Starts  -->

<section class="common-section business-section" id="online_services">

    <div class="container" style="min-height: 30rem;">
        <div class="row g-5">
            <div class="col-xl-12 col-md-12 ">
                <!-- Ratings panel starts -->
                <div class="row g-5">

                    <app-dashboard-listings-form [menuItem]="menuItem"
                        (currentListingEvent)="setCurrentListing($event)"></app-dashboard-listings-form>

                </div>
                <!-- Ratings panel ends -->
            </div>
        </div>
    </div>

</section>




<!-- Edit Section Ends  -->