<app-loading-screen [hidden]="isPageLoaded"></app-loading-screen>

<app-header class="workan-header"></app-header>
<div [hidden]="!isPageLoaded" class="workan-body">
  <router-outlet></router-outlet>
</div>
<!-- ENDS PAGE CONTAINER -->
<!-- Footer -->
<footer [hidden]="!isPageLoaded" class="main-footer-section">
  <div class="container d-flex pt-5 justify-content-center">
    <div class="row">
      <div class="col">
        <span class="bg-theme">Workan.ca</span> | Copyright ©2023 All rights reserved.
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->