<!-- <label for="firstName">First Name</label>
<input required ngModel #firstName="ngModel" minlength="3" maxlength="10" pattern="banana" name="firstName" id="firstName" type="text" class="form-control">
<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
    <div *ngIf="firstName.errors?.required">First Name is required.</div>
    <div *ngIf="firstName.errors?.minlength">Min length should be 3.</div>
    <div *ngIf="firstName.errors?.pattern">Pattern is banana.</div>
</div> -->


<!-- Edit Section starts -->
<div class="col-xl-12 col-md-12">

    <div class="form-section p-3 m-3">

        <form>
            <div class="mb-3">
                <!-- display profile and name  -->
                <div class="row">
                    <div class="col-xl-4 xol-lg-4 col-md-12 col-12 img-section">
                        <div class="img-wrapper">
                            <img alt="Profile Image" class="img-fluid" width="50%" src="assets/profile.png">
                            <div class="img-overlay"  type="button" data-bs-toggle="modal"
                            data-bs-target="#profilePhotoModal">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h3><b>Personal Details </b><i class="fa-regular fa-pen-to-square" type="button" data-bs-toggle="modal"
                            data-bs-target="#personalDetailsModal"></i></h3>
                </div>
                <hr class="style1">
                <div *ngIf="displayUser" class="row">

                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Name</label>
                            <h5>{{displayUser.firstName}} {{displayUser.lastName}}</h5>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-lg-6 col-12">
                        <div class="form-group">
                            <label>Email</label>
                            <h5>{{displayUser.email}}</h5>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="displayUser" class="mb-3">
                <div class="row">

                    <div class="col-12">
                        <div class="form-group">
                            <label>Gender</label>
                            <h5>{{displayUser.gender}}</h5>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label>Mobile</label>
                            <h5>{{displayUser.mobile}}</h5>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label>Languages</label>
                            <h5>{{displayUser.languages.join(', ')}}</h5>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!-- User Form Ends -->
    </div>

    <div class="form-section  p-3 m-3">

        <!-- Contact Form Starts -->
        <form>
            <div class="mb-3">
                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <h3><b>Contact Details </b><i class="fa-regular fa-pen-to-square" type="button"
                                    data-bs-toggle="modal" data-bs-target="#contactDetailsModal"></i></h3>
                        </div>

                    </div>
                    <hr class="style1">

                </div>
                <div *ngIf="displayContact" class="row">

                    <div class="col-12">
                        <div class="form-group">
                            <label>Address</label>
                            <h5>{{displayContact.addressLine1}}</h5>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <h5>{{displayContact.addressLine2}}</h5>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <h5>{{displayContact.addressLine3}}</h5>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="displayContact" class="mb-3">
                <div class="row">

                    <div class="col-4">
                        <div class="form-group">
                            <label>City</label>
                            <h5>{{displayContact.city}}</h5>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Pincode</label>
                            <h5>{{displayContact.pincode}}</h5>
                        </div>
                    </div>

                </div>
            </div>

        </form>
        <!-- Contact Form Ends -->
    </div>
</div>
<!-- Edit Section ends -->

<!-- MODALS START  -->
<!-- Personal Details Modal -->
<div class="modal fade" id="personalDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="personalDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personalDetailsModalLabel">Personal Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <form #editProfile="ngForm" (ngSubmit)="submitUserDetail()">

                                <div class="mb-3">

                                    <!-- User Form Starts -->
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="firstName">First Name</label>
                                                <input #firstName="ngModel" required [(ngModel)]="user.firstName"
                                                    minlength="3" maxlength="15" name="firstName" id="firstName"
                                                    type="text" class="form-control" autocomplete="off">
                                                <div class="alert alert-danger"
                                                    *ngIf="firstName.touched && !firstName.valid">
                                                    <div *ngIf="firstName.errors?.required">First Name is required.
                                                    </div>
                                                    <div *ngIf="firstName.errors?.minlength">Min length should be 3.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="lastName">Last Name</label>
                                                <input required [(ngModel)]="user.lastName" minlength="3" maxlength="15"
                                                    name="lastName" id="lastName" type="text" class="form-control"
                                                    autocomplete="off">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Gender</label>
                                            </div>
                                            <div class="input-group mb-3 dropdown">
                                                <input type="text" class="form-control" [ngModel]="user.gender"
                                                    name="user.gender" readonly style="background-color: white;">
                                                <button class="btn btn-outline-secondary dropdown-toggle btn-sm"
                                                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Select
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" (click)="editGender('Male')" type="button">Male</a>
                                                    </li>
                                                    <li><a class="dropdown-item"
                                                            (click)="editGender('Female')" type="button">Female</a></li>
                                                    <li><a class="dropdown-item"
                                                            (click)="editGender('Others')" type="button">Others</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Languages</label>

                                            </div>
                                            <div class="input-group mb-3 dropdown">
                                                <input type="text" class="form-control" [ngModel]="user.languages"
                                                    name="user.languages" readonly readonly style="background-color: white;">
                                                <button class="btn btn-outline-secondary dropdown-toggle btn-sm"
                                                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Select
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item"
                                                        (click)="resetLanguages()" type="button">Clear All</a></li>
                                                    <li *ngFor="let language of availableLanguages | keyvalue">
                                                        <a *ngIf="language.key!='dummy'" class="dropdown-item" (click)="addLanguage(language)" type="button" [ngClass]="language.value==1?'disabled':''">
                                                            {{language.key}}</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <label for="mobile">Mobile</label>
                                                <input required #mobile="ngModel" [(ngModel)]="user.mobile"
                                                    minlength="3" maxlength="15" name="mobile" id="mobile" type="number"
                                                    class="form-control" autocomplete="off">
                                                <div class="alert alert-danger" *ngIf="mobile.touched && !mobile.valid">
                                                    {{mobile.errors}}
                                                    <!-- <div *ngIf="mobile.errors?.minlength">Min length should be 3.</div> -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger btn-rounded col-12"
                                                data-bs-toggle="modal"
                                                data-bs-target="#personalDetailsModal">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Personal Details Modal Ends -->


<!-- Contact Details Modal -->
<div class="modal fade" id="contactDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="contactDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactDetailsModalLabel">Contact Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <!-- Contact Form Starts -->
                            <form #editContact="ngForm" (ngSubmit)="submitContactDetail()">
                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="address1">Address Line 1</label>
                                                <input required [(ngModel)]="contactDetail.addressLine1"
                                                    #address1="ngModel" minlength="3" maxlength="30" name="address1"
                                                    id="address1" type="text" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="address2">Address Line 2</label>
                                                <input required [(ngModel)]="contactDetail.addressLine2"
                                                    #address2="ngModel" maxlength="30" name="address2" id="address2"
                                                    type="text" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="address3">Address Line 3</label>
                                                <input required [(ngModel)]="contactDetail.addressLine3"
                                                    #address3="ngModel" maxlength="30" name="address3" id="address3"
                                                    type="text" class="form-control" autocomplete="off">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row">

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="pincode">Pincode</label>
                                                <input required [(ngModel)]="contactDetail.pincode" #pincode="ngModel"
                                                    minlength="3" maxlength="15" name="pincode" id="pincode" type="text"
                                                    class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="city">City</label>
                                                <div class="input-group mb-3 dropdown">
                                                    <input type="text" class="form-control" [ngModel]="contactDetail.city"
                                                        id="city" name="city" readonly style="background-color: white;">
                                                    <button class="btn btn-outline-secondary dropdown-toggle btn-sm"
                                                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Select
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                        <li *ngFor="let location of availableLocations"><a class="dropdown-item" type="button" (click)="setContactLocation(location)">{{location}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger btn-rounded col-12"
                                                data-bs-toggle="modal"
                                                data-bs-target="#contactDetailsModal">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Contact Form Ends -->
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Contact Details Modal Ends -->


<!-- MODALS END  -->

<script>
    $('#customfileinput').on('change', function () {
        files = $(this)[0].files;
        name = '';
        for (var i = 0; i < files.length; i++) {
            name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
        }
        $(".custom-file-label").html(name);
    })
</script>