<!-- Edit Section starts -->
<div class="col-xl-12 col-md-12">

    <div *ngIf="infoBox!=null" class="form-section p-3 m-3"  style="padding-top: .5rem!important;padding-bottom: .5rem!important;padding-left: .3rem!important;">

        <!-- Info Section Starts -->
        <form #editListing="ngForm">
            <div class="row">
                <label><i class="fa-regular fa-circle-exclamation" style="color: rgb(255, 187, 0);"></i> Next Step: 
                    <span *ngIf="infoBox==0">Please Complete Your Profile!</span>
                    <span *ngIf="infoBox==1" type="button" style="color: #0070E0;" routerLink="/dashboard/managelisting">Create A Listing.</span>
                </label>
            </div>
        </form>
        <!-- Info Section Ends -->
    </div>

    <div class="col">
        <div *ngIf="displayPersonalDetails" class="form-section p-3 m-3 card-cover">

            <form>
                <div class="mb-3">
                    <!-- display profile and name  -->
                    <div *ngIf="displayUser&&displayUser.professional" class="row py-3 px-2">
                        <div class="col-xl-4 xol-lg-4 col-md-12 col-12 img-section">
                            <div class="img-wrapper">
                                <img *ngIf="!profilePhoto" alt="..." class="img-fluid profile-photo" width="50%"
                                    src="assets/profile.png">
                                <img *ngIf="profilePhoto" alt="..." class="img-fluid profile-photo" width="50%"
                                    [src]="profilePhoto.thumbnail">
                                <div class="img-overlay" type="button" data-bs-toggle="modal"
                                    data-bs-target="#profilePhotoModal" (click)="loadEditPhotoModal()">
                                    <button class="btn border btn-primary btn-rounded" data-bs-toggle="modal"
                                        data-bs-target="#profilePhotoModal" (click)="loadEditPhotoModal()"
                                        style="border-width: 5px!important;border-color: white!important;"><i
                                            class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h3><b>Personal Details </b><i class="fa-solid fa-pen-circle primary-blue" type="button"
                                data-bs-toggle="modal" data-bs-target="#personalDetailsModal"></i></h3>
                    </div>
                    <hr class="style1">
                    <div *ngIf="displayUser" class="row">

                        <div class="col-xxl-6 col-lg-6 col-12">
                            <div class="form-group">
                                <label>Name</label>
                                <h5>{{displayUser.firstName}} {{displayUser.lastName}}
                                    <span style="font-size: medium;"> {{displayUser.gender=='Male'?'|
                                        (He/Him)':(displayUser.gender=='Female'?'|
                                        (She/Her)':(displayUser.gender=='Others'?'| (They/Them)':''))}}</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-lg-6 col-12">
                            <div class="form-group">
                                <label>Email</label>
                                <h5>{{displayUser.email}}</h5>
                            </div>
                        </div>

                    </div>
                </div>

                <div *ngIf='displayUser' class="mb-3">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <label>Mobile</label>
                                <h5>{{(displayUser.mobile==0?'--':(displayUser.mobile|phone))}}</h5>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Languages</label>
                                <h5>{{displayUser.languages.length==0?'--':displayUser.languages.join(', ')}}</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <!-- User Form Ends -->


        </div>
    </div>

    <!-- review section starts  -->
    <div *ngIf="professional" class="col">
        <!-- Ratings panel starts -->
        <div class="row g-2 px-4">
            <div class="col-4">
                <h1 class="btn btn-marker disabled px-3 py-2" style="margin-top: 3rem;font-size:1.2rem;">RATINGS</h1>
            </div>
            <div class="col-12 border reviews-card" style="background-color: white;">
                <!-- Rating card start -->
                <div class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="review-count">Rating</h2>
                        <h2 class="review-count">Total Reviews</h2>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="review-count"><i class="fa fa-star rating-color"
                                style="font-size: 1.3rem!important;"></i> {{professional.rating |
                            number : '1.1-1'}}</h4>
                        <h4 class="review-count">{{reviews.length}}</h4>
                    </div>

                    <div class="mt-3 d-flex justify-content-between align-items-center">
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                        </div>
                        <h5 class="review-stat">{{professional.fiveRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                        </div>
                        <h5 class="review-stat">{{professional.fourRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                        </div>
                        <h5 class="review-stat">{{professional.threeRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                            <i class="fa fa-star rating-color"></i>
                        </div>
                        <h5 class="review-stat">{{professional.twoRating/totalRatings*100}}%</h5>
                    </div>

                    <div class="mt-1 d-flex justify-content-between align-items-center">
                        <div class="ratings">
                            <i class="fa fa-star rating-color"></i>
                        </div>
                        <h5 class="review-stat">{{professional.oneRating/totalRatings*100}}%</h5>
                    </div>

                </div>
                <!-- Rating card end -->
            </div>
            <!-- Ratings end -->

            <!-- start of card section (to be iterated over reviews)  -->
            <div *ngFor="let review of reviews" class="col-12 py-2">
                <div class="card shadow p-3">
                    <div class="row">
                        <div class="col-xl-4 xol-lg-4 col-md-12 col-12 img-section">
                            <img alt="..." class="img-fluid" width="50%" src="assets/profile.png">
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <h4>{{review.customer}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="ratings">
                            <i *ngFor="let e of [].constructor(review.rating);" class="fa fa-star rating-color"></i>
                        </div>
                        <p>{{review.content}}</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-light btn-small" (click)="loadMore()" [hidden]="reviewPage==-1">Load More</button>
            </div>
            <!-- end of card section (to be iterated over reviews) -->

        </div>
        <!-- Ratings panel ends -->


    </div>
    <!-- review section ends  -->

    <div *ngIf="!displayPersonalDetails" class="form-section  p-3 m-3" id="address_section">

        <!-- Contact Form Starts -->
        <form>
            <div class="mb-3">
                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <h3><b>Address </b><i class="fa-solid fa-square-pen primary-blue" type="button"
                                    data-bs-toggle="modal" data-bs-target="#contactDetailsModal"></i></h3>
                        </div>

                    </div>
                    <hr class="style1">

                </div>
                <div *ngIf="displayContact" class="row">

                    <div class="col-12">
                        <div class="form-group">
                            <h5 [innerHTML]="formatAddress(displayContact.addressLine3)"></h5>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="displayContact" class="mb-3">
                <div class="row">

                </div>
            </div>

        </form>
        <!-- Contact Form Ends -->
    </div>
</div>
<!-- Edit Section ends -->

<!-- MODALS START  -->
<!-- Personal Details Modal -->
<div class="modal fade" id="personalDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="personalDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personalDetailsModalLabel">Personal Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <form #editProfile="ngForm" (ngSubmit)="submitUserDetail()" id="editProfileForm"
                                (keyup)="profileFormChanged()">

                                <div class="mb-3">

                                    <!-- User Form Starts -->
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="firstName">First Name *</label>
                                                <input #firstName="ngModel" required [(ngModel)]="user.firstName"
                                                    minlength="3" maxlength="15" name="firstName" id="firstName"
                                                    type="text" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="lastName">Last Name *</label>
                                                <input #lastName="ngModel" required [(ngModel)]="user.lastName"
                                                    minlength="3" maxlength="15" name="lastName" id="lastName"
                                                    type="text" class="form-control" autocomplete="off">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="row g-2">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Gender *</label>
                                            </div>
                                            <select #selectGender class="form-select" aria-label="gender"
                                                [value]="user.gender" (change)="editGender(selectGender.value)">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Language(s) *</label>

                                            </div>
                                            <div class="input-group dropdown">
                                                <input type="text" class="form-control" [ngModel]="user.languages"
                                                    name="user.languages" readonly readonly
                                                    style="background-color: white;">
                                                <button class="btn btn-outline-secondary dropdown-toggle btn-sm"
                                                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    Select
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" style="color: #0d6efd;"
                                                            (click)="resetLanguages()" type="button">Clear All</a>
                                                    </li>
                                                    <li *ngFor="let language of availableLanguages | keyvalue">
                                                        <a *ngIf="language.key!='dummy'" class="dropdown-item"
                                                            (click)="addLanguage(language)" type="button"
                                                            [ngClass]="language.value==1?'disabled':''">
                                                            {{language.key}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <label for="mobile">Mobile *</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">+1</span>
                                                    </div>
                                                    <input required #mobile="ngModel"
                                                        [ngClass]="user.mobile<=0?'mobile-input':''"
                                                        (click)="resetMobile()" [(ngModel)]="user.mobile" minlength="10"
                                                        maxlength="10" name="mobile" id="mobile" type="text"
                                                        pattern="\d*" class="form-control" autocomplete="off">
                                                </div>
                                                <div>
                                                    <div class="alert alert-danger py-0" style="margin-top: 0.5rem;"
                                                        *ngIf="mobile.touched && !mobile.valid && (mobile.errors?.pattern||mobile.errors?.minlength)">
                                                        <div>
                                                            Please enter a valid mobile number.</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <span style="font-size: .9rem!important;">* Mandatory fields</span>
                                    </div>
                                </div>

                                <!-- Edit buttons -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger btn-rounded col-12"
                                                [disabled]="!profileFormDirty||!profileFormValid||mobile.errors?.pattern||mobile.errors"
                                                data-bs-toggle="modal"
                                                data-bs-target="#personalDetailsModal">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- User Form Ends -->
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Personal Details Modal Ends -->


<!-- Contact Details Modal -->
<div class="modal fade" id="contactDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="contactDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactDetailsModalLabel">Update Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">

                <section class="container">
                    <div class="row">

                        <div class="form-section">

                            <!-- Contact Form Starts -->
                            <form #editContact="ngForm" (ngSubmit)="submitContactDetail()">
                                <div class="mb-3">
                                    <div class="row g-4">

                                        <div class="col-12">
                                            <app-select-map-location headline="Address"
                                                [initialValue]="contactDetail.addressLine3"
                                                (outputEvent)="locationSelectorOutput($event)"></app-select-map-location>
                                        </div>

                                    </div>

                                </div>



                                <!-- Edit buttons -->
                                <div class="row">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-rounded col-12"
                                            [disabled]="!contactDetail.addressLine3||contactDetail.addressLine3==''"
                                            data-bs-toggle="modal" data-bs-target="#contactDetailsModal">Save</button>
                                    </div>
                                </div>

                            </form>
                            <!-- Contact Form Ends -->
                            <!-- User Form Ends -->
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- Contact Details Modal Ends -->


<!-- MODALS END  -->

<script>
    $('#customfileinput').on('change', function () {
        files = $(this)[0].files;
        name = '';
        for (var i = 0; i < files.length; i++) {
            name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
        }
        $(".custom-file-label").html(name);
    })
</script>