


<div class="row">
    <div class="col-12" style="padding-bottom: 1rem;">
        <span class="px-2 py-3 text-center border" style="border-radius: .2rem;border-color: grey;"><span
                class="py-2 px-3"
                style="margin-right: .3rem;min-width: 100rem!important;background-color: rgb(238, 238, 238);border-radius: .4rem;">{{value|date:'dd
                MMM (EEEE)'}}</span>
            <input type="date" 
            [value]="value" [(ngModel)]="value" [min]="minValue" placeholder="From"
                style="border: none!important;width: 1.5rem!important;padding-right: .1rem!important;">
        </span>
    </div>
    <div class="col-12" style="padding-top: 1rem;">
        <span class="px-2 py-3 text-center border" style="border-radius: .2rem;border-color: grey;"><span
                class="py-2 px-3"
                style="margin-right: .3rem;min-width: 100rem!important;background-color: rgb(238, 238, 238);border-radius: .4rem;">{{value|date:'dd
                MMM (EEEE)'}}</span>
            <input type="date" [value]="value" [(ngModel)]="value" [min]="minValue"
                style="border: none!important;width: 1.5rem!important;padding-right: .1rem!important;">
        </span>
    </div>
</div>
<h5 style="margin-left: .9rem;margin-top: 1.5rem;"><span class="border p-2" type="button"
        style="font-size: 1rem!important;border-radius: .4rem;background-color: rgb(65, 110, 173);color: white;"
        (click)="markUnavailable()">Mark Unavailable</span>
<hr style="margin-top: 1.5rem!important;">