<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="markUnavailableModalLabel">Add Money to Wallet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeDialog()"></button>
    </div>
    <div class="modal-body">
        <section class="container">
            <div class="row">

                <div class="form-section" style="padding: 0!important;">

                    <!-- User Form Starts -->
                    <form #markUnavailableForm="ngForm" (ngSubmit)="markUnavailable()">

                        <div class="mb-3 mt-3">
                            <div class="row g-3">

                                <div class="col-12 text-center" style="padding-bottom: 1rem;">
                                    <span class="px-2 py-3 text-center border"
                                        style="border-radius: .2rem;border-color: grey;">
                                        <span class="py-2 px-3"
                                            style="margin-right: .3rem;min-width: 100rem!important;background-color: rgb(238, 238, 238);border-radius: .4rem;">{{value|date:'dd
                                            MMM (EEEE)'}}</span>
                                        <input name="fromDate" type="date" [(ngModel)]="value"
                                            [min]="minValue" placeholder="From"
                                            style="border: none!important;width: 1.5rem!important;padding-right: .1rem!important;">
                                    </span>
                                </div>

                            </div>
                        </div>

                        <!-- Edit buttons -->
                        <div class="mb-3">
                            <div class="row">
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-rounded col-12"
                                        data-bs-toggle="modal" data-bs-target="#markUnavailableModal">Mark
                                        Unavailable</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    <!-- User Form Ends -->
                </div>

            </div>
        </section>

    </div>
</div>