<div class="modal-content">
  <div class="modal-header">
    <h5 *ngIf="!professionalView" class="modal-title" id="slotSelectorModalLabel">Book Appointment</h5>
    <h5 *ngIf="professionalView" class="modal-title" id="slotSelectorModalLabel">View Schedule</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeDialog()"></button>
  </div>

  <!-- step1 modal body start  -->
  <div *ngIf="currentStep==0&&!professionalView" class="modal-body">
    <div class="form-section" style="padding: 0!important;">
      <div class="row">

        <div class="d-flex justify-content-center align-items-center">
          <!-- Selector card start -->
          <div class="px-3">
            <!-- Slots start -->
            <div class="mt-3 mb-3">
              <div class="container p-2">

                <div class="row g-2">
                  <div class="col-12">
                    <div class="table-responsive">
                      <table class="table table-bordered th-sm">
                        <thead style="background-color: rgb(222, 222, 222);border-color: rgb(156, 156, 156);">
                          <tr>
                            <th scope="col" class="text-center col-5">Service Name</th>
                            <th scope="col" class="text-center col-2">Charges</th>
                            <th scope="col" class="text-center col-3">Duration</th>
                            <th scope="col" class="text-center col-2">Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let menuItem of availableMenuItems; let i=index">
                            <td class="text-center">
                              {{menuItem.serviceName}}
                            </td>
                            <td class="text-center">
                              <i class="fa-solid fa-dollar-sign"
                                style="color: green;margin-right: .1rem;"></i>{{menuItem.charges}}
                            </td>
                            <td class="text-center">
                              {{menuItem.serviceTimeHh>0?menuItem.serviceTimeHh+'hr':''}} {{menuItem.serviceTimeMm>0?menuItem.serviceTimeMm+'min':''}}
                            </td>
                            <td class="text-center"><i type="button" (click)="removeMenuItem(i)" class="fa fa-minus-circle primary-blue"
                              aria-hidden="true" style="margin-right: .4rem;"></i>{{selectedMenuItems[i].quantity==null?'0':selectedMenuItems[i].quantity}}<i type="button" (click)="addMenuItem(i)" class="fa fa-plus-circle primary-blue"
                              style="margin-left: .4rem;"
                              aria-hidden="true"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div style="text-align:end;">
                        <label>Avg. Duration: {{avgDuration}}</label>
                      </div>
                      <div style="text-align:end;">
                        <b>Total: </b> <i class="fa-solid fa-dollar-sign"
                          style="color: green;margin-right: .1rem;"></i>{{totalMenuCharges}}
                      </div>
                    </div>
                  </div>
                  <hr class="style1">
                  <h6 class="small-text">&bull; Please select quantity of each service</h6>
                </div>

              </div>
            </div>
            <!-- Slots end -->
            <div class="d-flex">
              <button type="button" class="btn btn-danger btn-rounded col-12" (click)="nextStep()"
                [disabled]="totalMenuCharges<=0">Next</button>
            </div>
            <!-- Selector card end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- step1 modal body ends  -->

  <!-- step0 modal body start  -->
  <div *ngIf="currentStep==1||professionalView" class="modal-body">
    <div class="form-section" style="padding: 0!important;">
      <div class="row">

        <div class="d-flex justify-content-center align-items-center">
          <!-- Selector card start -->
          <div class="px-3">

            <!-- Slots start -->
            <div class="mt-3 mb-3">
              <div class="container p-2">

                <div class="row g-2">
                  <div class="col-lg-12">
                    <h5 class="review-count">Day</h5>
                    <div class="input-group mb-3 dropdown">
                      <input [ngModel]="currentDate" type="text" class="form-control" name="slotDay" readonly
                        style="background-color: white;">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="slotDayButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Select
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="slotDayButton1">
                        <li *ngFor="let e of dayBoolArray; let i = index"><a
                            [ngClass]="[e==true?'selected':'', availabilityRange&&availabilityRange.get(slotDate(i)|date:'EEEE')?'':'strike-through disabled']"
                            class="dropdown-item" type="button"
                            (click)="getSlotsForDay(slotDate(i), i)">{{slotDate(i)|date:'dd MMM (EE)'}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div *ngIf="currentTimeRange">
                        <!-- If professional available for the day  -->
                        <label *ngIf="!professionalView">Preferred Time Range:</label>
                        <h6 *ngIf="!professionalView" style="font-size: .9rem;">(Professional availability is
                          {{dateTimeService.convertTimeToString(currentTimeRange.startTimeHhmm)}} -
                          {{dateTimeService.convertTimeToString(currentTimeRange.endTimeHhmm)}})</h6>
                        <div class="col-12 mt-3">
                          <div class="form-group">
                            <label for="startTime">From Time</label>
                          </div>
                          <select #startTime class="form-select" aria-label="fromtime" [disabled]="professionalView"
                            [(ngModel)]="selectedTimeRange.startTime" (change)="setDialogStartTime(startTime.value)">
                            <option default hidden>Select a time</option>
                            <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">
                              {{timeSlot}}</option>
                          </select>
                        </div>

                        <div class="col-12 mt-3 mb-3">
                          <div class="form-group">
                            <label for="endTime">To Time</label>
                          </div>
                          <select #endTime class="form-select" aria-label="toTime" [disabled]="professionalView"
                            [(ngModel)]="selectedTimeRange.endTime" (change)="setDialogEndTime(endTime.value)">
                            <option default hidden>Select a time</option>
                            <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">
                              {{timeSlot}}</option>
                          </select>
                        </div>
                        <span *ngIf="!professionalView" style="font-size: .87rem;margin-top: 2rem!important;">&bull; Select the <b>preferred time
                            range</b> in which you want the professional to arrive</span><br>
                        <span *ngIf="!professionalView" style="font-size: .87rem;margin-top: 2rem!important;">&bull; You will be <b>allocated an
                            appointment</b> within the preferred time range</span>
                      </div>

                      <div *ngIf="currentDate!='Select a day'&&!currentTimeRange" class="alert alert-warning col-md-12"
                        role="alert">
                        Professional unavailable for the selected date.
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="style1">
              </div>
            </div>
            <!-- Slots end -->

            <div *ngIf="!professionalView" class="d-flex justify-content-end">
              <button type="button" class="btn btn-danger btn-rounded col-12" (click)="previousStep()">Back</button>
            </div>
            <div *ngIf="!professionalView" class="d-flex justify-content-end mt-2">
              <button
                *ngIf="selectedDate&&selectedTimeRange.startTime!=''&&selectedTimeRange.endTime!=''&&dateTimeService.convertTimeToNumber(selectedTimeRange.startTime)<dateTimeService.convertTimeToNumber(selectedTimeRange.endTime)"
                type="button" class="btn btn-danger btn-rounded col-12" (click)="nextStep()">Next</button>
            </div>

            <!-- Selector card end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- step0 modal body ends  -->

  <!-- step2 modal body start  -->
  <div *ngIf="currentStep==2" class="modal-body">
    <div class="form-section" style="padding: 0!important;">
      <div class="row">

        <div class="d-flex justify-content-center align-items-center">
          <!-- Selector card start -->
          <div class="px-3">
            <!-- Slots start -->
            <div class="mt-1 mb-1">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <label class="review-count" style="font-weight: bold;">Total Charges</label>
                    <h5>
                      <i class="fa-solid fa-dollar-sign" style="color: green;margin-right: .1rem;"></i>
                      {{totalMenuCharges}}
                    </h5>
                  </div>
                  <div class="col-6">
                    <label class="review-count" style="font-weight: bold;">Avg. Duration</label>
                    <h5>
                      {{avgDuration}}
                    </h5>
                  </div>
                  <div class="col-6">
                    <label style="font-weight: bold;">Day</label>
                    <h5>{{selectedDate|date:'dd MMM (EEEE)'}}</h5>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <div class="row">
                        <label class="review-count" style="font-weight: bold;">Preferred Time</label>
                        <h5>
                          {{selectedTimeRange.startTime}}-{{selectedTimeRange.endTime}}
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="review-count" style="font-weight: bold;">Services</label>
                      <h6 *ngFor="let service of selectedMenuItems; let i=index"
                        style="margin-top: .2rem;margin-bottom: .2rem;">
                        <span *ngIf="service.quantity>0" style="font-size: 1rem!important;">{{service.serviceName}}
                          x({{service.quantity}})</span>
                      </h6>
                    </div>
                  </div>
                  <div *ngIf="customerAddress&&customerAddress.addressLine3&&customerAddress.addressLine3"
                    class="col-12" style="margin-top: .5rem;">
                    <div class="form-group">
                      <label class="review-count" style="font-weight: bold;">Customer Address</label>
                      <h5>
                        {{customerAddress.addressLine3}}
                      </h5>
                    </div>
                  </div>
                  <hr class="style1">
                  <h6 *ngIf="customerAddress&&customerAddress.addressLine3&&customerAddress.addressLine3"
                    class="small-text">&bull; Please confirm the date and slot timings</h6>
                  <h6 *ngIf="!(customerAddress&&customerAddress.addressLine3&&customerAddress.addressLine3)"
                    class="small-text" style="color: rgb(225, 0, 0);font-weight: bold;">&bull; Please update your
                    phone number and address to place the order.</h6>
                </div>

              </div>
            </div>
            <!-- Slots end -->
            <div *ngIf="customerAddress&&customerAddress.addressLine3&&customerAddress.addressLine3"
              class="d-flex justify-content-end">
              <button type="button" class="btn btn-danger btn-rounded col-12" (click)="previousStep()"
                style="margin-bottom: .5rem;">Back</button>
            </div>
            <div *ngIf="customerAddress&&customerAddress.addressLine3&&customerAddress.addressLine3"
              class="d-flex justify-content-end">
              <button type="button" class="btn btn-warning btn-rounded col-12" (click)="bookSlot()"
                data-bs-dismiss="modal" aria-label="Close">Book Appointment</button>
            </div>
            <!-- Selector card end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- step2 modal body ends  -->

</div>