<!--Divider section-->

<section class="bg-color py-2">
  <section class="container">
    <div class="row">

      <div
        class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white">
          My Orders
        </h1>
      </div>
    </div>
  </section>
</section>

<ul class="nav nav-pills px-3 py-2 bg-color justify-content-end">
  <li class="nav-item">
    <a type="button" class="nav-link nav-tab" [ngClass]="ordersStatus=='ALL'?'active':''"
      (click)="toggleTabs('ALL')">Orders</a>
  </li>
  <li class="nav-item">
    <a type="button" class="nav-link nav-tab" [ngClass]="ordersStatus=='COMPLETED'?'active':''"
      (click)="toggleTabs('COMPLETED')">Completed Orders</a>
  </li>
  <li class="nav-item">
    <a type="button" class="nav-link nav-tab" [ngClass]="ordersStatus=='CANCELLED'?'active':''"
      (click)="toggleTabs('CANCELLED')">Cancelled Orders</a>
  </li>
</ul>

<!--Divider section end -->

<div class="content-box">

  <!-- main section starts  -->

  <section class="common-section business-section" id="online_services">

    <div class="container">
      <!-- <h1>Profile</h1> -->
      <div class="row">

        <!-- to be iterated over orders start  -->
        <div *ngIf="ordersStatus=='ALL'||ordersStatus=='COMPLETED'">
          <div *ngFor="let order of allOrders; let i=index;let f=first" class="col-12">
            <h1 class="btn btn-marker disabled px-3 py-2" style="margin-top: 3rem;" *ngIf="f||datePipe.transform(allOrders[i]?.appointmentDate,'dd-MMM-yyyy','+0000')!=datePipe.transform(allOrders[i-1]?.appointmentDate,'dd-MMM-yyyy','+0000')">{{order.appointmentDate|date:'dd-MMM-yyyy':'+0000'}}</h1>
            <div class="form-section p-3 m-3">

              <form>

                <div class="mb-3">
                  <button class="btn btn-small btn-rounded disabled" [ngClass]="[order.status=='CANCELLED'?'btn-cancelled':'',
                             order.status=='COMPLETED'?'btn-completed':'btn-prime', order.status=='ACCEPTED'?'btn-accepted':'',order.status=='SCHEDULED'?'btn-scheduled':'',order.status=='STARTING'?'btn-starting':'',order.status=='STARTED'?'btn-started':'']">{{order.status}}</button>
                  <!-- display profile and name  -->
                  <div class="row px-3 mt-1">

                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Appointment Date</label>
                        <h5> {{order.appointmentDate|date:'dd-MMM-yyyy':'+0000'}}</h5>
                      </div>
                    </div>
                    
                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Appointment Time</label>
                        <h5>{{dateTimeService.convertTimeToString(order.appointmentTimeHhmm)}}</h5>
                      </div>
                    </div>

                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Total Amount</label>
                        <h5><i class="fa-solid fa-dollar-sign" style="color: green;"></i> {{order.charges | number :
                          '1.2-2'}} </h5>
                      </div>
                    </div>

                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Customer Phone</label>
                        <h5 *ngIf="order.customer">{{order.customer.mobile | phone}}</h5>
                        <h6 *ngIf="!order.customer" style="color: rgb(100, 100, 100);">**************</h6>
                      </div>
                    </div>
                    
                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Customer Name</label>
                        <h5 *ngIf="order.customer">{{order.customer.firstName}} {{order.customer.lastName}}</h5>
                        <h5 *ngIf="!order.customer" style="color: rgb(100, 100, 100);">**************</h5>
                      </div>
                    </div>

                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Professional</label>
                        <h5><a class="link" type="button"
                            [routerLink]='["/listingDetail", order.listingId]'>{{order.professional.firstName}}
                            {{order.professional.lastName}}</a></h5>
                      </div>
                    </div>

                    <hr class="style1">
                    <div class="col-12">
                      <h6 *ngIf="order.cancelReason&&order.cancelReason!=''" class="small-text"
                        style="font-style: italic;">Cancellation Reason: {{order.cancelReason}}</h6>
                      <button class="btn btn-primary btn-rounded col-12" type="button"
                        [routerLink]="['/dashboard/takenOrderDetail', order.id]">View Order</button>
                      <div *ngIf="order.status=='Awaiting Professional\'s Confirmation'" class="col-12 py-2">
                      </div>
                    </div>

                  </div>
                </div>
              </form>
              <!-- User Form Ends -->
            </div>
          </div>
        </div>
        <!-- to be iterated over orders end  -->

        <div *ngIf="ordersStatus=='CANCELLED'">
          <!-- to be iterated over orders start  -->
          <div *ngFor="let order of allOrders;let i=index;let f=first" class="col-12">
            <h1 class="btn btn-marker disabled px-3 py-2" style="margin-top: 3rem;" *ngIf="f||datePipe.transform(allOrders[i]?.appointmentDate,'dd-MMM-yyyy','+0000')!=datePipe.transform(allOrders[i-1]?.appointmentDate,'dd-MMM-yyyy','+0000')">{{order.appointmentDate|date:'dd-MMM-yyyy':'+0000'}}</h1>
            <div class="form-section p-3 m-3">
              
              <form>

                <div class="mb-3">
                  <button class="btn btn-small btn-rounded disabled" [ngClass]="[order.status=='CANCELLED'?'btn-cancelled':'',
                           order.status=='COMPLETED'?'btn-completed':'btn-prime', order.status=='ACCEPTED'?'btn-accepted':'',order.status=='SCHEDULED'?'btn-scheduled':'',order.status=='STARTING'?'btn-starting':'',order.status=='STARTED'?'btn-started':'']">{{order.status}}</button>
                  <!-- display profile and name  -->
                  <div class="row px-1">

                    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Appointment Date</label>
                        <h5> {{order.appointmentDate|date:'dd-MMM-yyyy':'+0000'}}</h5>
                      </div>
                    </div>

                    <div class="col-xl-3 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Appointment Time</label>
                        <h5>{{dateTimeService.convertTimeToString(order.appointmentTimeHhmm)}}</h5>
                      </div>
                    </div>

                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Customer</label>
                        <h5 *ngIf="order.customer">{{order.customer.firstName}} {{order.customer.lastName}}</h5>
                        <h5 *ngIf="!order.customer" style="color: rgb(100, 100, 100);">**************</h5>
                      </div>
                    </div>

                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Customer Phone</label>
                        <h5 *ngIf="order.customer">{{order.customer.mobile | phone}}</h5>
                        <h6 *ngIf="!order.customer" style="color: rgb(100, 100, 100);">**************</h6>
                      </div>
                    </div>

                    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 py-1">
                      <div class="form-group">
                        <label>Total Amount</label>
                        <h5><i class="fa-solid fa-dollar-sign" style="color: green;"></i> {{order.charges | number :
                          '1.2-2'}} </h5>
                      </div>
                    </div>
                    <hr class="style1">
                    <div class="col-12">
                      <h6 *ngIf="order.cancelReason&&order.cancelReason!=''" class="small-text"
                        style="font-style: italic;">Cancellation Reason: {{order.cancelReason}}</h6>
                      <button class="btn btn-primary btn-rounded col-12" type="button"
                        [routerLink]="['/dashboard/takenOrderDetail', order.id]">View Order</button>
                    </div>

                  </div>
                </div>
              </form>
              <!-- User Form Ends -->
            </div>
          </div>
          <!-- to be iterated over orders end  -->
        </div>

        <div class="col-12" style="padding-top: 150px;padding-bottom: 150px;">
          <div *ngIf="!allOrders||allOrders?.length == 0" class="alert alert-warning col-12" role="alert">
            No orders found.
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- main section ends  -->