<div class="form-group maps-autocomplete">
    <label for="originLocation">{{headline}}</label>
    <input #originLocation type="text"
        class="form-control" name="" placeholder="Search location" id="originLocation">
</div>
<div class="form-group py-4">
    <button class="btn btn-danger btn-rounded" (click)="search()">
        Search
    </button>
</div>
<!-- <div class="container py-4">
    <form>
        
    </form>

    <google-map class="google-map" #displayMap height=null width=null [zoom]="zoom"  [center]="currentLocationLatLng"
        [options]="myOptions"
        (mapDrag)="centerChanged()">
        <map-marker [position]="markerLocation"></map-marker>
    </google-map>
</div> -->