.google-map {
    width: 100px;
    height: 100px;
    position:relative;
}


.form-range::-webkit-slider-runnable-track { 
    background-color: rgba(196, 196, 196, 0.877); 
}

.form-range::-webkit-slider-thumb { 
background-color: rgb(59, 124, 222);
} 