<div class="offcanvas offcanvas-start custom-side-bar" tabindex="-1" id="sidebarMain"
  aria-labelledby="sidebarMainLabel">
  <div class="offcanvas-header" style="font-size: large;color: white;">
    <ul *ngIf="currentUser" class="list-unstyled">
      <li *ngIf="!profilePhoto" class="py-3"><img alt="..." class="img-fluid" width="40%" src="assets/profile.png"
          type="button" routerLink="/dashboard/profile" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain"></li>
      <li *ngIf="profilePhoto" class="py-2"><img alt="..." class="img-fluid profile-photo" width="40%"
          [src]="profilePhoto.picByte" type="button" routerLink="/dashboard/profile" data-bs-toggle="offcanvas"
          data-bs-target="#sidebarMain"></li>
      <li type="button" routerLink="/dashboard/profile" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain">
        {{currentUser.firstName}} {{currentUser.lastName}}</li>
      <li style="font-size: medium;" type="button" routerLink="/dashboard/profile" data-bs-toggle="offcanvas"
        data-bs-target="#sidebarMain">View Profile</li>
      <li>
        <hr class="style1">
      </li>
    </ul>
  </div>
  <div class="offcanvas-body justify-content-center" style="padding-top: 7px;padding-left: 20px;font-size: large;">

    <ul *ngIf="currentUser&&!currentUser.professional" class="list-unstyled">
      <li><span class="p-2 border rounded">A C C O U N T</span><br><br></li>
      <li><span type="button" routerLink="/dashboard/orders" data-bs-toggle="offcanvas"
          data-bs-target="#sidebarMain">Orders</span></li>
      <li><span type="button" routerLink="/dashboard/addressDetails" data-bs-toggle="offcanvas"
          data-bs-target="#sidebarMain">Address Details</span></li>
    </ul>

    <!-- professional section starts -->
    <ul *ngIf="currentUser&&currentUser.professional" class="list-unstyled">
      <li><span class="p-2 border rounded">P R O F E S S I O N A L</span><br><br></li>
      <!-- <li><span type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain">Manage Documents</span></li> -->
      <li><span type="button" routerLink="/dashboard/managelisting" data-bs-toggle="offcanvas"
          data-bs-target="#sidebarMain">Manage Listing</span></li>
      <li><span type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain"
          routerLink="/dashboard/myorders">Orders</span></li>
      <li><span type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain"
        routerLink="/dashboard/managepayments">Payments</span></li>
    </ul>
    <!-- professional section ends -->

    <ul class="list-unstyled">
      <li style="padding-bottom: 35px;">
        <hr class="style1">
      </li>
      <li><span class="p-2 border rounded">L I S T I N G S</span><br><br></li>
      <li><span type="button" routerLink="/listings" data-bs-toggle="offcanvas" data-bs-target="#sidebarMain">Browse
          Listings</span></li>
      <!-- <li><span type="button"  data-bs-toggle="offcanvas" data-bs-target="#sidebarMain">Browse Categories</span></li> -->
    </ul>

    <!-- Footer Starts  -->

    <ul class="list-unstyled sidebar-footer py-4">
      <!-- next release  -->
      <!-- <li class="py-2"><span>Help Desk</span></li> -->

      <li><span type="button" (click)="logout()">Logout <i class="fa-solid fa-right-from-bracket"></i></span></li>
    </ul>

  </div>
</div>