<!-- Edit Photo Modal -->
<div class="modal fade" id="profilePhotoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="profilePhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profilePhotoModalLabel">Profile Photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="container">
          <div class="row">

            <div
              class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
              <h1 class=" text-capitalize fw-bolder text-white">
                Edit Profile
              </h1>
            </div>

          </div>
          <div class="container row">
            <div class="card-body col-12">
              <div class="row" style="margin-top: 15px;">
                <div class="text-center col-12">
                  <image-cropper [imageChangedEvent]="imgChangeEvt"
                  [imageBase64]="base64Data"
                  [roundCropper] = true
                  [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                  [resizeToWidth]="512" format="png" 
                  (imageCropped)="cropImg($event)">
                </image-cropper>
                </div>
              </div>
            </div>
          </div>
        </section>
        <input id="files" type="file" (change)="onFileChanged($event)" style="visibility:hidden;">
      </div>
      <div class="modal-footer">
        <label type="button" for="files" class="btn btn-danger btn-rounded col-12">Select</label>
        <label type="button" class="btn btn-danger btn-rounded col-12" (click)="uploadPhoto()">Save</label>
      </div>
    </div>
  </div>
</div>
<!-- Edit Photo Modal Ends -->