<!-- Edit Photo Modal -->
<div class="modal fade" id="profilePhotoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="profilePhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profilePhotoModalLabel">Profile Photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="container">
          <div class="row">

            <div
              class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
              <h1 class=" text-capitalize fw-bolder text-white">
                Edit Profile
              </h1>
            </div>

          </div>
        </section>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-rounded col-12">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Photo Modal Ends -->