<!-- Edit Photo Modal -->
<div class="modal fade" id="profilePhotoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="profilePhotoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profilePhotoModalLabel">Profile Photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reloadCurrentPage()"></button>
      </div>
      <div class="modal-body">
        <section class="container">
          
          <div *ngIf="base64Data!=''||imgChangeEvt!=''" class="col-12">
            <image-cropper [imageChangedEvent]="imgChangeEvt"
              [imageBase64]="base64Data"
              [roundCropper] = true
              [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
              [resizeToWidth]="512" format="png" 
              (imageCropped)="cropImg($event)">
            </image-cropper>
          </div>
          <div *ngIf="base64Data==''&&imgChangeEvt==''" class="d-flex col-12 justify-content-center">
            <img *ngIf="!profilePhoto" alt="..." class="img-fluid profile-photo" width="100%" src="assets/profile.png">
          </div>

        </section>
        <input id="files" type="file" (change)="onFileChanged($event)" style="visibility:hidden;">
      </div>

      <div class="modal-footer">
        <div class="container text-center">
          <div class="row" style="font-size: x-large;">
            <div class="col" >
              <label type="button" for="files" class="col-12"><i class="fa-solid fa-camera-retro"></i>
              <span style="font-size: medium;"><br>Upload</span></label>
            </div>
            <div class="col">
              <label type="button" class="col-12"><i class="fa-solid fa-floppy-disk" (click)="uploadPhoto()" data-bs-dismiss="modal"></i>
              <span style="font-size: medium;"><br>Save</span></label>
            </div>
            <div class="col">
              <label type="button" class="col-12"><i class="fa-solid fa-solid fa-trash" (click)="removePhoto()" data-bs-dismiss="modal"></i>
              <span style="font-size: medium;"><br>Delete</span></label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Edit Photo Modal Ends -->