@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Urbanist", sans-serif; */
    font-family: Arial, sans-serif !important;
}

i {
    font-family: FontAwesome !important;
}

.no-cursor {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
}

:root {
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #ff0000;
    --secondary-color: #fd2929;
    --bs-supporting-color: #fd2929;
    --primary-blue-button-color: #0d6efd;
    --primary-success-button-color: #00c700;
    --primary-cancel-button-color: #f03333;
    --primary-yellow-color: #f0c133;
}

.primary-blue {
    color: var(--primary-blue-button-color);
}

.primary-yellow {
    color: var(--primary-yellow-color);
}

.primary-cancel {
    color: var(--primary-cancel-button-color);
}

.primary-success {
    color: var(--primary-success-button-color);
}

.content-box {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
    word-wrap: break-word;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

.bg-main {
    position: relative;
}

.bg-sec {
    position: relative;
}

.bg-color {
    background-color: var(--bs-dark-primary);
}

.bg-theme {

    color: var(--bs-supporting-color);
    background-image: none !important;
}

.fa-star {
    color: var(--bs-supporting-color);
}

.nav-link-custom {
    color: var(--bs-main-color) !important;
    font-weight: bold;
}

.nav-link {
    color: var(--bs-main-color) !important;
    font-weight: bold;
}

.nav-link-custom:hover {
    color: var(--secondary-color) !important;
}

.no-hover {
    pointer-events: none;
}


/*hero section style */

.hero-section .container {
    display: grid;
    place-items: center;
    height: inherit;
}

.hero-section h1 {
    font-size: 3.4rem;
}

.hero-section h1:first-letter {
    /*font-size: 10rem;*/
    initial-letter: 2;
    padding-right: .7rem;
    color: var(--bs-main-color);
}

.hero-video--section {
    width: 30rem;
    border-radius: 2rem;
}

@media screen and (max-width: 1400px) {

    .hero-video--section {
        width: 25rem;
        border-radius: 1rem;
    }
}


@media screen and (max-width: 1200px) {

    .hero-section {
        height: 70vh;
    }

    .hero-video--section {
        width: 20rem;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 513px) {
    .custom-shape-divider-bottom-1691897366 {
        display: none !important;
    }
}



@media screen and (max-width: 998px) {

    h1 {
        font-size: 2.4rem;
    }

    section .common-heading {
        font-size: 2rem;
    }

    section .para-width {
        width: auto;
    }

    .hero-section {
        height: 90vh;
    }

}

/*shape dividers start */

.custom-shape-divider-top-1691900366 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1691900366 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1691900366 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1691897366 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1691897366 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1691897366 .shape-fill {
    fill: #FFFFFF;
}

/*shape dividers end */

.common-section {
    padding: 0 0 3rem 0;
}

.more-info-section {
    background-color: var(--bs-dark-primary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 3rem;
    overflow: hidden;
}

.more-info-section .img-section {
    position: relative;
}

.more-info-section img {
    position: absolute;
    top: -10%;
    left: 0;
    max-width: 100%;
    width: 70%;
    /*transform: scaleX(-1);*/
}


@media screen and (max-width: 1200px) {
    .more-info-section img {
        position: absolute;
        bottom: 10%;
        /*right: 10%;*/
        /*top: 50%;*/
        top: 0;
        left: 55%;
        max-width: 100%;
        width: 50%;
        transform: scaleX(1);
    }


    .para-width {
        width: 90%
    }

}

@media screen and (max-width: 768px) {
    .more-info-section img {
        display: none;
    }
}




.services-section {
    padding: 6rem 0 3rem 0 !important;
}

.business-section {
    padding-top: 3rem;
}

.btn-primary {
    background: #1089ff;
    border: none;
    outline: none;
}

.para-width {
    width: 55ch;
}

.text-grey {
    color: #00000080;
}

.text-light-grey {
    color: var(--bs-primary-color);
}

.card-title {
    font-weight: 500;
    letter-spacing: .05rem;
}

.common-heading {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.05rem !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.common-title {
    margin-bottom: 4.2rem;
}

.card-box {
    background-color: rgb(255, 255, 255);
}

.card {
    height: fit-content !important;
}

.list-card {
    width: 100%;
    min-height: 31rem !important;
    height: fit-content !important;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 24px;
}


.card-box:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 24px;
}

.services-section .card-box {
    padding: 4rem 2.4rem 3rem !important;
    border-radius: .5rem !important;
}

button,
a {
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.btn-dark {
    background-color: #1a1d20;
    color: var(--bs-main-color);
}

/*carousal section */
.carousel-inner .card {
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all .2s linear;
}

.carousel-inner .card p {
    color: var(--bs-main-color);
}

.carousel-inner .card:hover {
    background: var(--bs-main-color);
    color: var(--bs-dark-color);
}

.carousel-inner .card:hover p {
    color: var(--bs-dark-color);
}

.carousel .carousel-indicators {
    bottom: -20%;
}


@media screen and (max-width: 998px) {
    .carousel .carousel-indicators {
        bottom: -8%;
    }
}

/*carousal section end */


/*blog section */

.blog-section {
    padding-bottom: 3rem;
}

/*blog section ends */

/*contact section */

.contact-section {
    position: relative;
}

.contact-section .common-title {
    padding-top: 10rem;
}

.form-section {
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.contact-section .form-section {
    width: 50%;
}

@media screen and (max-width: 998px) {
    .contact-section .common-title {
        padding-top: 10rem;
    }

    .contact-section .form-section {
        width: 100%;
    }
}

/*contact section end */

/*footer styling */
.main-footer-section {
    padding: 0 0 4rem 0;
    color: var(--bs-main-color);
}

.contact-div {
    background-color: var(--bs-dark-primary);
}

.icon-div {
    width: 5rem;
    height: 5rem;
    /*background: #1089ff;*/
}

.icon- {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #1089ff;
    color: var(--bs-main-color);
}

.icon-span .fa-brands,
.fab {
    color: white;
}

.carousel-indicators {
    bottom: -20%;
}

.carousel-indicators [data-bs-target] {
    margin-top: 2rem;
    width: .7rem;
    height: .7rem;
    background-color: #1089ff;
}

/* Form related styles */

.custom-file-input {
    display: none;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
}

.img-wrapper {
    position: relative;
    width: 100%;
    text-align: left;
}

.img-overlay {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0%;
    text-align: right;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 75%;
}

.btn.btn-rounded {
    border-radius: 50px
}

.btn.btn-small {
    height: fit-content !important;
    font-size: .9rem !important;
}

.sidebar-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main-footer {
    bottom: 0 !important;
    width: 100%;
}

.workan-header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.workan-body {
    padding-top: 52px;
    /* base background for everything  */
    background-color: rgb(225, 225, 225);
    width: 100%;
}

.form-section {
    border-radius: 8px;
}

.reviews-card {
    border-radius: 8px;
}

/* Custom toggle switches  */
.custom-control.teleport-switch {
    --color: white;
    padding-left: 0;
}

.custom-control.teleport-switch .teleport-switch-control-input {
    display: none;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked~.teleport-switch-control-indicator {
    border-color: var(--color);
    background-color: #008716;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked~.teleport-switch-control-indicator::after {
    left: -14px;
}

.custom-control.teleport-switch .teleport-switch-control-input:checked~.teleport-switch-control-indicator::before {
    right: 2px;
    background-color: var(--color);
}

.custom-control.teleport-switch .teleport-switch-control-input:disabled~.teleport-switch-control-indicator {
    opacity: .4;
}

.custom-control.teleport-switch .teleport-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 2px solid #ccc;
    overflow: hidden;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: 2px;
    left: 2px;
    background: #a5a5a5;
}

.custom-control.teleport-switch .teleport-switch-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: 2px;
    right: -14px;
    background: #ccc;
}

/* Custom toggle switches end*/

.link {
    text-decoration: none;
}

.btn-warning {
    color: rgb(67, 67, 67) !important;
}

.profile-photo {
    border-radius: 100% !important;
}

.card-cover {
    background: linear-gradient(0deg, white 75%, #ececec)
}

.empty-rating {
    color: grey;
}

.pac-container {
    z-index: 9999999999999 !important;
}

.navigation-btn {
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.323);
}

.navigation-btn:hover {
    color: white !important;
    border: 0.5px solid rgb(255, 255, 255);
}

.small-text {
    font-size: small;
}

.svg-container svg {
    width: 1.4rem !important;
    height: 1.4rem !important;
}


/* Sidebar related styles start */

.custom-side-bar {
    background-color: rgb(18, 18, 18) !important;
    color: white !important;


    min-width: 250px !important;
    max-width: 250px !important;
}

.offcanvas-body {
    min-height: 100vh !important;
    width: 100% !important;
}

/* Sidebar related styles end */

/* Remove arrows from number fields  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Terms and policies */
.terms {
    background-color: white;
    color: rgb(10, 10, 10);
    padding-top: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10rem;
}

.terms a {
    font-size: medium !important;
    line-height: 1.4rem;
    text-decoration: none;
}

.terms h2 {
    font-size: x-large;
    font-weight: bold;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    letter-spacing: 0.1rem;
}

.terms h3 {
    font-size: large;
    font-weight: bold;
}

.terms p {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-size: small;
    letter-spacing: .0009rem;
    line-height: 1.1rem;
}

.terms h5 {
    font-weight: bold;
    font-size: medium;
    padding-top: 1rem !important;
}

.terms h6 {
    font-size: small;
    font-weight: bold;
    color: rgb(80, 80, 80);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.tab-small {
    display: inline-block;
    margin-left: 2px;
}

.noHover {
    pointer-events: none;
}

/* toaster styles  */
.toast-container {
    top: 5% !important;
    right: 5% !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}