<!-- 
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          Nothing Found.
        </div> -->

<!--Divider section-->

<section class="bg-color py-2">
  <section class="container">
    <div class="row">

      <div
        class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white">
          Listings
        </h1>
      </div>

    </div>
  </section>
</section>

<!--Divider section end -->


<div class="content-box">

  <app-browse-listings-filter></app-browse-listings-filter>

  <!-- navigation bar starts -->
  <nav class="nav navbar nav-underline justify-content-end navbar-dark" style="background-color: #222;">
    <a class="nav-link active" style="margin-right: 5px;">Ratings <i class="fa-sharp fa-solid fa-xmark"
        type="button"></i></a>
    <a class="nav-link active" style="margin-right: 5px;">Paris <i class="fa-sharp fa-solid fa-xmark"
        type="button"></i></a>
    <a class="nav-link-custom nav-link" type="button" data-bs-toggle="modal" data-bs-target="#filterModalPopup"><i
        class="fa-solid fa-filter" style="color: white;"></i></a>

    <!-- to be removed start -->

    <!-- <li class="nav-item dropdown">
      <a class="nav-link-custom nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
        aria-expanded="false">Specialization: {{currentSubcategory||"All"}} </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown01">
        <li><a class="dropdown-item" *ngFor="let subcategory of subcategories" type="button"
            [routerLink]="['/listings',subcategory,currentLocation]">{{subcategory}}</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link-custom nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown"
        aria-expanded="false">Location: {{currentLocation||"All"}} </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown02">
        <li><a class="dropdown-item" type="button" *ngFor="let location of locations"
            [routerLink]="['/listings',currentSubcategory,location]">{{location}}</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link-custom nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Sort
        By: Ratings </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown03">
        <li><a class="dropdown-item" href="#">Ratings</a></li>
        <li><a class="dropdown-item" href="#">Charges low to high</a></li>
        <li><a class="dropdown-item" href="#">Charges high to low</a></li>
      </ul>
    </li> -->
    <!-- to be removed end -->


  </nav>
  <!-- navigation bar ends -->

  <section class="common-section blog-section">

    <div class="container">

      <div class="row g-5">
        <div class="col-xl-3 col-md-6 col-12" *ngFor="let listing of listings">
          <div class="d-flex justify-content-center align-items-center">
            <div class="card list-card py-3" style="width: 25rem;" [routerLink]="['/listingDetail',listing.id]" type="button">
              <img alt="..." class="card-img-top" src="assets/profile.png">
              <div class="card-body">
                <h4 class="card-title mt-3">{{listing.professional.firstName}} {{listing.professional.lastName}}</h4>

                <h6 *ngIf="listing"><i class="fa-solid fa-dollar-sign"></i> {{listing.charges}} CAD ({{listing.chargesType}})</h6>
                
                <h6><i class="fa fa-star rating-color"></i> 0.0</h6>
                
                <hr class="style1">
                <p class="card-text mt-2 mb-3">
                <h6><b>Loc:</b><span> {{listing.location}}</span></h6>
                <h6><b>Exp:</b><span> 10 Years</span></h6>
                <h6><b>Spec:</b><span> {{listing.subCategory.subCategoryName}}</span></h6>
                <h6><b>Speaks:</b>
                  <span>
                    {{listing.professional.languages.join(', ').length>15?(listing.professional.languages.join(', ')|slice:0:15)+' ...more':listing.professional.languages.join(', ')}}
                  </span>
                </h6>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>