<!-- Filter Modal -->
<div class="modal fade" id="addFilterModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="addFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFilterModalLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="container">
          <div class="row">

            <div class="form-section" style="padding: 0!important;">

              <!-- User Form Starts -->
              <form #editListing="ngForm">



                <div class="mb-1">
                  <div class="row g-3">
                    
                    <div class="col-12">
                      <div class="form-group">
                        <label for="subcategory">Subcategory</label>
                      </div>
                      <select #subcategory class="form-select" aria-label="subcategory" [value]="currentSubcategory"
                        (change)="selectSubcategory(subcategory.value)">
                        <option default hidden>--</option>
                        <option value="" hidden>--</option>
                        <option *ngFor="let subCategory of subCategories" [value]="subCategory">
                          {{subCategory}}</option>
                      </select>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label for="sortBy">Sort by</label>
                      </div>
                      <select #sortBy class="form-select" aria-label="sortBy" [value]="sortByValue"
                        (change)="selectSortBy(sortBy.value)">
                        <option default hidden>--</option>
                        <option value="" hidden>--</option>
                        <option *ngFor="let sortElement of sortByArray" [value]="sortElement">
                          {{sortElement}}</option>
                      </select>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <app-select-map-location headline="Nearby Location" [initialValue]="currentLocation"
                          (outputEvent)="locationSelectorOutput($event)"></app-select-map-location>
                      </div>
                    </div>

                    <div class="col-12 text-end">
                      <h5 style="font-size: 1rem!important;"><a class="link" data-bs-dismiss="modal" type="button"
                          (click)="clearAllFilters()">Clear all</a></h5>
                    </div>

                  </div>
                </div>

                <!-- Edit buttons -->
                <div class="mt-2" style="padding-top: .4rem;">
                  <div class="row">
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger btn-rounded col-12" data-bs-toggle="modal"
                        data-bs-target="#addFilterModal" data-bs-dismiss="modal"
                        (click)="handleListProducts(true)">Save</button>
                    </div>
                  </div>
                </div>

              </form>
              <!-- User Form Ends -->
            </div>

          </div>
        </section>

      </div>
    </div>
  </div>
</div>
<!-- Filter Modal Ends -->

<!--Divider section-->
<section class="bg-color py-2">
  <section class="container">
    <div class="row">

      <div
        class="d-flex flex-column align-items-start justify-content-end col-xl-8 xol-lg-8 col-md-12 col-12 order-1 order-lg-0 text-md-start text-center">
        <h1 class=" text-capitalize fw-bolder text-white">
          Listings
        </h1>
      </div>

    </div>
  </section>
</section>

<!--Divider section end -->


<div class="content-box">

  <!-- navigation bar starts -->
  <nav class="nav navbar nav-underline justify-content-end align-items-start navbar-dark"
    style="background-color: #222;">

    <li class="nav-item">
      <a type="button" (click)="getListingSubcategories()" data-bs-toggle="modal" data-bs-target="#addFilterModal"><i
          class="fa fa-filter px-3" style="color: white;" aria-hidden="true"></i></a>
    </li>

  </nav>
  <!-- navigation bar ends -->
  <section *ngIf="listings?.length != 0" class="common-section blog-section">

    <div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">

      <div class="row g-3 mt-4">
        <div class="col-xl-3 col-md-6 col-12" *ngFor="let listing of listings">
          <div class="d-flex justify-content-center align-items-center">
            <div class="card list-card py-3" style="width: 25rem;">
              <img *ngIf="!listing.professional.profilePhoto" alt="..." class="card-img-top" src="assets/profile.png">
              <img *ngIf="listing.professional.profilePhoto" alt="..." class="card-img-top"
                [src]="'data:image/png;base64,'+listing.professional.profilePhoto.picByte">
              <div class="card-body">
                <h4 class="card-title">{{listing.professional.firstName}} {{listing.professional.lastName}}</h4>

                <h6 *ngIf="listing"><b><i class="fa-solid fa-dollar-sign" style="color: green;"></i> {{listing.charges |
                    number : '1.2-2'}}</b>
                  ({{listing.chargesType}})</h6>

                <h6><i class="fa fa-star rating-color"></i> {{listing.professional.rating | number : '1.1-1'}}</h6>
                <hr class="style1">
                <p class="card-text mt-2 mb-3">
                <h6><b>Spec:</b><span> {{listing.subCategory.subCategoryName}}</span></h6>
                <h6><b>Exp:</b><span> {{listing.experience>5?'> 5':listing.experience}} Years</span></h6>
                <h6><b>Speaks:</b>
                  <span>
                    {{listing.professional.languages.join(', ').length>15?(listing.professional.languages.join(',
                    ')|slice:0:15)+' ...more':listing.professional.languages.join(', ')}}
                  </span>
                </h6>
                <h6><b>Location:</b><span> {{listing.location.length>20?(listing.location|slice:0:20)+'
                    ...more':listing.location}}</span></h6>
                <hr class="style1">

                <span *ngIf="timezoneOffset==listing.timezoneOffset" style="font-size: .5rem!important;">
                  <span *ngIf="!listing.availabilityLoaded"><i class="fas fa-spinner fa-pulse"></i></span>
                  <span *ngIf="listing.availabilityLoaded">
                    <h6>Availability:</h6>
                    <button *ngIf="listing.availableToday"
                      class="btn btn-outline-dark btn-small noHover col-6">Today</button>
                    <button *ngIf="listing.availableTomorrow"
                      class="btn btn-outline-dark btn-small noHover col-6">Tomorrow</button>
                  </span>
                  <a *ngIf="listing.availabilityLoaded">
                    <a *ngIf="!listing.availableToday&&!listing.availableTomorrow"><button
                        class="btn btn-outline-dark btn-small noHover">All timeslots booked</button></a>
                  </a>
                </span>
                <span
                  style="font-size: .8rem;color: rgb(255, 0, 0);font-weight: bold;">{{timezoneOffset==listing.timezoneOffset?'':'The
                  listing is in different timezone'}}</span><br>
                <hr class="style1">

                <div class="d-flex justify-content-end">
                  <div class="col-12">
                    <a class="btn border btn-small btn-danger btn-rounded col-12"
                      [routerLink]="['/listingDetail',listing.id]" type="button">
                      View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</div>

<section *ngIf="listings?.length == 0" class="common-section business-section text-center" id="online_services"
  style="background-color:white">

  <div *ngIf="!listingsLoading" class="container" style="padding-top: 4rem;padding-bottom: 4rem;">
    <div class="col-xl-12 col-md-12">
      <div class="form-section">
        <img alt="GIF Image" src="assets/no_professional.gif" width="70%">
      </div>
    </div>
  </div>
  <div *ngIf="listingsLoading" class="container"
    style="padding-top: 4rem;padding-bottom: 4rem;min-height:20rem!important">
    <div class="col-xl-12 col-md-12">
      <div class="form-section">
        <i class="fas fa-spinner fa-pulse" style="font-size: xxx-large;"></i>
      </div>
    </div>
  </div>

</section>